<settings>
    <setting id="text-autoscroll" type="bool">false</setting>
    <setting id="background-visibiltymed" type="bool">false</setting>
    <setting id="background-visibiltyhigh" type="bool">false</setting>
    <setting id="background-customweather.multi" type="bool">false</setting>
    <setting id="background-slideshow" type="bool">false</setting>
    <setting id="background-fanarts" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtraFanart" type="bool">false</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="background-playingmedia" type="bool">false</setting>
    <setting id="homemenu-vertical" type="bool">false</setting>
    <setting id="media-overlay" type="bool">false</setting>
    <setting id="tiltmisclisticon" type="bool">false</setting>
    <setting id="show-letterbar" type="bool">false</setting>
    <setting id="tilted-videowall" type="bool">false</setting>
    <setting id="tiltmiscwallicon" type="bool">false</setting>
    <setting id="touch-controls" type="bool">false</setting>
    <setting id="lock-screensettings" type="bool">false</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="debug-grid" type="bool">false</setting>
    <setting id="debug-info" type="bool">false</setting>
    <setting id="SkinHelper.EnableDayNightThemes" type="bool">false</setting>
    <setting id="homemenu-horizontal" type="bool">true</setting>
    <setting id="SkinHelper.EnableExtendedArt" type="bool">false</setting>
    <setting id="SkinHelper.EnableMusicArt" type="bool">false</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">false</setting>
    <setting id="SkinHelper.ForcedViews.Enabled" type="bool">false</setting>
    <setting id="home-time" type="bool">false</setting>
    <setting id="homemenu-icon" type="bool">false</setting>
    <setting id="home-weather" type="bool">false</setting>
    <setting id="home-currentweather" type="bool">false</setting>
    <setting id="home-video" type="bool">false</setting>
    <setting id="home-movie" type="bool">false</setting>
    <setting id="home-tvshows" type="bool">false</setting>
    <setting id="home-favorites" type="bool">false</setting>
    <setting id="home-music" type="bool">false</setting>
    <setting id="home-musicvideo" type="bool">false</setting>
    <setting id="home-photos" type="bool">false</setting>
    <setting id="home-programs" type="bool">false</setting>
    <setting id="home-profile" type="bool">false</setting>
    <setting id="home-search" type="bool">false</setting>
    <setting id="home-filemanager" type="bool">false</setting>
    <setting id="home-playdisc" type="bool">false</setting>
    <setting id="home-shutdown" type="bool">false</setting>
    <setting id="background-customweather.name" type="string"></setting>
    <setting id="background-customweather.path" type="string"></setting>
    <setting id="background-customweather.ext" type="string"></setting>
    <setting id="background-custom" type="string"></setting>
    <setting id="show-scrollbar" type="string">On scroll or focus</setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string"></setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Day.time" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Night.time" type="string"></setting>
    <setting id="shelf-customimages-val" type="string">1</setting>
    <setting id="shelf-customimages-val.label" type="string">Icon</setting>
    <setting id="libraryentry-movie-val" type="string">1</setting>
    <setting id="libraryentry-movie-val.label" type="string">Title</setting>
    <setting id="shelf-customimages" type="string">Icon</setting>
    <setting id="listview-idleanim-val" type="string">1</setting>
    <setting id="listview-idleanim-val.label" type="string">60 Seconds</setting>
    <setting id="libraryentry-radio-val" type="string">1</setting>
    <setting id="libraryentry-radio-val.label" type="string">Play</setting>
    <setting id="show-scrollbar-val" type="string">1</setting>
    <setting id="show-scrollbar-val.label" type="string">On scroll or focus</setting>
    <setting id="shelf-broadcastimages-val" type="string">1</setting>
    <setting id="shelf-broadcastimages-val.label" type="string">Icon</setting>
    <setting id="libraryentry-tvshow-val" type="string">1</setting>
    <setting id="libraryentry-tvshow-val.label" type="string">Title</setting>
    <setting id="libraryentry-movie" type="string">Title</setting>
    <setting id="listview-idleanim" type="string">60</setting>
    <setting id="libraryentry-radio" type="string">Play</setting>
    <setting id="shelf-broadcastimages" type="string">Icon</setting>
    <setting id="shelf-movieimages-val" type="string">1</setting>
    <setting id="shelf-movieimages-val.label" type="string">Icon</setting>
    <setting id="libraryentry-musicvideo-val" type="string">1</setting>
    <setting id="libraryentry-musicvideo-val.label" type="string">Title</setting>
    <setting id="home-quitaction-val" type="string">1</setting>
    <setting id="home-quitaction-val.label" type="string">Quit</setting>
    <setting id="libraryentry-music-val" type="string">1</setting>
    <setting id="libraryentry-music-val.label" type="string">Albums</setting>
    <setting id="shelf-addonimages-val" type="string">1</setting>
    <setting id="shelf-addonimages-val.label" type="string">Icon</setting>
    <setting id="libraryentry-tv-val" type="string">1</setting>
    <setting id="libraryentry-tv-val.label" type="string">Play</setting>
    <setting id="startup-screentype-val" type="string">1</setting>
    <setting id="startup-screentype-val.label" type="string">Skin Image</setting>
    <setting id="shelf-musicimages-val" type="string">1</setting>
    <setting id="shelf-musicimages-val.label" type="string">Icon</setting>
    <setting id="backgroundvisibilty-val" type="string">1</setting>
    <setting id="backgroundvisibilty-val.label" type="string">Low</setting>
    <setting id="homemenu-typeval" type="string">1</setting>
    <setting id="homemenu-typeval.label" type="string">Horizontal</setting>
    <setting id="shelf-tvshowimages-val" type="string">1</setting>
    <setting id="shelf-tvshowimages-val.label" type="string">Icon</setting>
    <setting id="libraryentry-tvshow" type="string">Title</setting>
    <setting id="shelf-movieimages" type="string">Icon</setting>
    <setting id="libraryentry-musicvideo" type="string">Title</setting>
    <setting id="home-quitaction" type="string">Quit</setting>
    <setting id="libraryentry-music" type="string">Albums</setting>
    <setting id="shelf-addonimages" type="string">Icon</setting>
    <setting id="libraryentry-tv" type="string">Play</setting>
    <setting id="startup-screentype" type="string">Skin Image</setting>
    <setting id="shelf-musicimages" type="string">Icon</setting>
    <setting id="shelf-tvshowimages" type="string">Icon</setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="shelf-tvshowimgtyp" type="string"></setting>
    <setting id="CustomFav.Icon" type="string"></setting>
    <setting id="custom-watermark" type="string"></setting>
    <setting id="CustomMovies.1.Path" type="string"></setting>
    <setting id="CustomMovies.2.Path" type="string"></setting>
    <setting id="CustomMovies.3.Path" type="string"></setting>
    <setting id="CustomMovies.4.Path" type="string"></setting>
    <setting id="CustomMovies.5.Path" type="string"></setting>
    <setting id="CustomMovies.1.Label" type="string"></setting>
    <setting id="CustomMovies.2.Label" type="string"></setting>
    <setting id="CustomMovies.3.Label" type="string"></setting>
    <setting id="CustomMovies.4.Label" type="string"></setting>
    <setting id="CustomMovies.5.Label" type="string"></setting>
    <setting id="CustomTVShow.1.Path" type="string"></setting>
    <setting id="CustomTVShow.2.Path" type="string"></setting>
    <setting id="CustomTVShow.3.Path" type="string"></setting>
    <setting id="CustomTVShow.4.Path" type="string"></setting>
    <setting id="CustomTVShow.5.Path" type="string"></setting>
    <setting id="CustomTVShow.1.Label" type="string"></setting>
    <setting id="CustomTVShow.2.Label" type="string"></setting>
    <setting id="CustomTVShow.3.Label" type="string"></setting>
    <setting id="CustomTVShow.4.Label" type="string"></setting>
    <setting id="CustomTVShow.5.Label" type="string"></setting>
    <setting id="CustomTV.1.Path" type="string"></setting>
    <setting id="CustomTV.2.Path" type="string"></setting>
    <setting id="CustomTV.3.Path" type="string"></setting>
    <setting id="CustomTV.4.Path" type="string"></setting>
    <setting id="CustomTV.5.Path" type="string"></setting>
    <setting id="CustomRadio.1.Path" type="string"></setting>
    <setting id="CustomRadio.2.Path" type="string"></setting>
    <setting id="CustomRadio.3.Path" type="string"></setting>
    <setting id="CustomRadio.4.Path" type="string"></setting>
    <setting id="CustomRadio.5.Path" type="string"></setting>
    <setting id="CustomTV.1.Label" type="string"></setting>
    <setting id="CustomTV.2.Label" type="string"></setting>
    <setting id="CustomTV.3.Label" type="string"></setting>
    <setting id="CustomTV.4.Label" type="string"></setting>
    <setting id="CustomTV.5.Label" type="string"></setting>
    <setting id="CustomRadio.1.Label" type="string"></setting>
    <setting id="CustomRadio.2.Label" type="string"></setting>
    <setting id="CustomRadio.3.Label" type="string"></setting>
    <setting id="CustomRadio.4.Label" type="string"></setting>
    <setting id="CustomRadio.5.Label" type="string"></setting>
    <setting id="CustomFav.1.Path" type="string"></setting>
    <setting id="CustomFav.2.Path" type="string"></setting>
    <setting id="CustomFav.3.Path" type="string"></setting>
    <setting id="CustomFav.4.Path" type="string"></setting>
    <setting id="CustomFav.5.Path" type="string"></setting>
    <setting id="CustomFav.Heading" type="string"></setting>
    <setting id="CustomFav.1.Label" type="string"></setting>
    <setting id="CustomFav.2.Label" type="string"></setting>
    <setting id="CustomFav.3.Label" type="string"></setting>
    <setting id="CustomFav.4.Label" type="string"></setting>
    <setting id="CustomFav.5.Label" type="string"></setting>
    <setting id="CustomMusic.1.Path" type="string"></setting>
    <setting id="CustomMusic.2.Path" type="string"></setting>
    <setting id="CustomMusic.3.Path" type="string"></setting>
    <setting id="CustomMusic.4.Path" type="string"></setting>
    <setting id="CustomMusic.5.Path" type="string"></setting>
    <setting id="CustomMusic.1.Label" type="string"></setting>
    <setting id="CustomMusic.2.Label" type="string"></setting>
    <setting id="CustomMusic.3.Label" type="string"></setting>
    <setting id="CustomMusic.4.Label" type="string"></setting>
    <setting id="CustomMusic.5.Label" type="string"></setting>
    <setting id="CustomAddon.1.Path" type="string"></setting>
    <setting id="CustomAddon.2.Path" type="string"></setting>
    <setting id="CustomAddon.3.Path" type="string"></setting>
    <setting id="CustomAddon.4.Path" type="string"></setting>
    <setting id="CustomAddon.5.Path" type="string"></setting>
    <setting id="CustomAddon.1.Label" type="string"></setting>
    <setting id="CustomAddon.2.Label" type="string"></setting>
    <setting id="CustomAddon.3.Label" type="string"></setting>
    <setting id="CustomAddon.4.Label" type="string"></setting>
    <setting id="CustomAddon.5.Label" type="string"></setting>
</settings>
