<settings>
    <setting id="skinshortcuts-widget-systeminfo" type="bool">true</setting>
    <setting id="Enable.ShowCase.FloorInfo.tvshows" type="bool">false</setting>
    <setting id="KioskMode" type="bool">false</setting>
    <setting id="skinshortcuts-widget-VideoAddons" type="bool">false</setting>
    <setting id="Hide_SideTab" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Addon" type="bool">true</setting>
    <setting id="Enable.Landscape.TVShowGenre" type="bool">false</setting>
    <setting id="Enable.Showcase.SeasonGenre" type="bool">false</setting>
    <setting id="FullscreenMusic" type="bool">false</setting>
    <setting id="boxsetmod" type="bool">false</setting>
    <setting id="Enable.Wall.TVShowGenre" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.51" type="bool">false</setting>
    <setting id="skinshortcuts-widget-PVR" type="bool">false</setting>
    <setting id="fanart_trans" type="bool">false</setting>
    <setting id="SkinHelper.ForcedViews.Enabled" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtendedArt" type="bool">false</setting>
    <setting id="bold_list" type="bool">false</setting>
    <setting id="hide_fanart_topbar" type="bool">false</setting>
    <setting id="showcasemod" type="bool">false</setting>
    <setting id="noshowcaseflow" type="bool">false</setting>
    <setting id="TouchScreenMode" type="bool">false</setting>
    <setting id="Disable.BoxsetBrochure" type="bool">false</setting>
    <setting id="Pictures_hide_panel" type="bool">false</setting>
    <setting id="Home_Weather_Icon" type="bool">true</setting>
    <setting id="fanart_seps" type="bool">false</setting>
    <setting id="SmartShortcuts.favorites" type="bool">true</setting>
    <setting id="Enable.Wall.SeasonGenre" type="bool">false</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="Enable.Landscape.MovieGenre" type="bool">false</setting>
    <setting id="Home_Horizontal" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.55" type="bool">false</setting>
    <setting id="Hide_label_view_51" type="bool">false</setting>
    <setting id="weather.fanart.multi" type="bool">false</setting>
    <setting id="Enable.Showcase.MovieGenre" type="bool">false</setting>
    <setting id="Hide_label_view_52" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="SkinHelper.View.Disabled.56" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.53" type="bool">false</setting>
    <setting id="useclearcases" type="bool">false</setting>
    <setting id="skinshortcuts-widget-RandomAlbums" type="bool">false</setting>
    <setting id="coloredflags" type="bool">false</setting>
    <setting id="HorizontalListNav" type="bool">false</setting>
    <setting id="SkinHelper.EnableMusicArt" type="bool">false</setting>
    <setting id="SmartShortcuts.emby" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/backgrounds/addons.jpg" type="bool">true</setting>
    <setting id="weather.icons.multi" type="bool">false</setting>
    <setting id="Disable_Fanart" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.52" type="bool">false</setting>
    <setting id="HideShutdown" type="bool">false</setting>
    <setting id="Enable.ShowCase.FloorInfo.seasons" type="bool">false</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="fanart_Disable_CDART" type="bool">false</setting>
    <setting id="skinshortcuts-background-$INFO[Window(Home).Property(SkinHelper.AllMusicBackground)]" type="bool">false</setting>
    <setting id="SmartShortcuts.playlists" type="bool">true</setting>
    <setting id="HideWidgets" type="bool">false</setting>
    <setting id="Enable.ShowCase.FloorInfo.movies" type="bool">false</setting>
    <setting id="skinshortcuts-widget-MusicVideos" type="bool">false</setting>
    <setting id="Home_HideTopBar" type="bool">false</setting>
    <setting id="AutoScroll" type="bool">false</setting>
    <setting id="ArtistSlide" type="bool">false</setting>
    <setting id="Show_Scrollbar" type="bool">false</setting>
    <setting id="Hide_label_view_55" type="bool">false</setting>
    <setting id="BannerList_PreferPoster" type="bool">false</setting>
    <setting id="Showcase_HidePanel" type="bool">false</setting>
    <setting id="Enable.Showcase.TVShowGenre" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/backgrounds/livetv.jpg" type="bool">true</setting>
    <setting id="fanart_plot" type="bool">false</setting>
    <setting id="BannerList_hide_panel" type="bool">false</setting>
    <setting id="Enable.ShowCase.Logo" type="bool">false</setting>
    <setting id="Enable.Wall.MovieGenre" type="bool">false</setting>
    <setting id="Disable_CDART" type="bool">false</setting>
    <setting id="Hide_label_view_56" type="bool">false</setting>
    <setting id="Enable.Landscape.SeasonGenre" type="bool">false</setting>
    <setting id="SkinHelper.EnableDayNightThemes" type="bool">false</setting>
    <setting id="SkinHelper.EnableWallBackgrounds" type="bool">false</setting>
    <setting id="skinshortcuts-widget-NextEpisodes" type="bool">false</setting>
    <setting id="Disable.UnwatchedIcon" type="bool">false</setting>
    <setting id="Prefer_RTL" type="bool">false</setting>
    <setting id="Vis-ArtistSlide" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.57" type="bool">false</setting>
    <setting id="Disable_Splash" type="bool">false</setting>
    <setting id="Enable.ShowCase.Covers" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtraFanart" type="bool">false</setting>
    <setting id="skinshortcuts-background-$INFO[Window(Home).Property(SkinHelper.AllTvShowsBackground)]" type="bool">true</setting>
    <setting id="fanart_Disable_TVFAKECDART" type="bool">false</setting>
    <setting id="skinshortcuts-widget-RecentMovies" type="bool">false</setting>
    <setting id="SmartShortcuts.plex" type="bool">false</setting>
    <setting id="skinshortcuts-background-$INFO[Window(Home).Property(SkinHelper.AllMusicVideosBackground)]" type="bool">false</setting>
    <setting id="skinshortcuts-background-special://skin/backgrounds/settings.jpg" type="bool">true</setting>
    <setting id="Home_Eminence_Layout" type="bool">false</setting>
    <setting id="NextAired" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.54" type="bool">false</setting>
    <setting id="FS_Video" type="bool">false</setting>
    <setting id="PreferOriginalTitles" type="bool">false</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">false</setting>
    <setting id="skinshortcuts-background-$INFO[Window(Home).Property(SkinHelper.AllMoviesBackground)]" type="bool">false</setting>
    <setting id="fanart_Disable_FAKECDART" type="bool">false</setting>
    <setting id="mouse_color" type="string"></setting>
    <setting id="main_color" type="string"></setting>
    <setting id="Section" type="string">2</setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="SkinHelper.CustomPicturesBackgroundPath" type="string"></setting>
    <setting id="password_fanart" type="string"></setting>
    <setting id="busy" type="string"></setting>
    <setting id="topbar_rss1_color" type="string"></setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string">5</setting>
    <setting id="topbar_home_opacity" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.seasons" type="string"></setting>
    <setting id="SmartShortcuts.favorites" type="string"></setting>
    <setting id="SkinHelper.AllTvShowsBackground.EnableWallImages" type="string">12</setting>
    <setting id="SkinHelper.ForcedViews.artists" type="string"></setting>
    <setting id="list_color_custom" type="string"></setting>
    <setting id="widelist_bg_color" type="string"></setting>
    <setting id="widelist_view_opacity" type="string"></setting>
    <setting id="SmartShortcuts.playlists" type="string"></setting>
    <setting id="playlist.2.image.EnableWallImages" type="string">12</setting>
    <setting id="playlist.6.image.EnableWallImages" type="string">12</setting>
    <setting id="LyricScript_Path" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.movies" type="string"></setting>
    <setting id="AfterReload" type="string"></setting>
    <setting id="passcode" type="string"></setting>
    <setting id="skinshortcuts-widget-4" type="string">RandomAlbums</setting>
    <setting id="weather.icons.ext" type="string"></setting>
    <setting id="skinshortcuts-widget-7" type="string">systeminfo</setting>
    <setting id="SkinHelper.ForcedViews.files" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.tvshows" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.pictures" type="string"></setting>
    <setting id="playlist.5.image.EnableWallImages" type="string">12</setting>
    <setting id="playlist.7.image.EnableWallImages" type="string">12</setting>
    <setting id="skinshortcuts-widget-1" type="string">systeminfo</setting>
    <setting id="menu_icon_color_nf" type="string"></setting>
    <setting id="weather.fanart.ext" type="string"></setting>
    <setting id="MusicGenreIconPack.path" type="string"></setting>
    <setting id="SkinHelper.AllMoviesBackground.EnableWallImages" type="string">12</setting>
    <setting id="topbar_rss2_color" type="string"></setting>
    <setting id="mypassword" type="string"></setting>
    <setting id="weather.fanart.path" type="string"></setting>
    <setting id="skinshortcuts-widget-5" type="string">MusicVideos</setting>
    <setting id="SkinHelper.ForcedViews.setmovies" type="string"></setting>
    <setting id="topbar_text_color" type="string"></setting>
    <setting id="default_pictures_bg" type="string"></setting>
    <setting id="playlist.4.image.EnableWallImages" type="string">12</setting>
    <setting id="skinshortcuts-widget-6" type="string">systeminfo</setting>
    <setting id="SkinHelper.ForcedViews.sets" type="string"></setting>
    <setting id="dialog_action" type="string">SendClick(home,302)</setting>
    <setting id="AfterReload_Category" type="string">96</setting>
    <setting id="SkinHelper.ForcedViews.episodes" type="string"></setting>
    <setting id="SkinHelper.WallImagesDelay" type="string">4</setting>
    <setting id="weather.icons.path" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Day.time" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Night.time" type="string"></setting>
    <setting id="default_music_bg" type="string"></setting>
    <setting id="autostart_playlist" type="string"></setting>
    <setting id="playlist.3.image.EnableWallImages" type="string">12</setting>
    <setting id="skinshortcuts-widget-3" type="string">VideoAddons</setting>
    <setting id="widelist_color" type="string"></setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string">10</setting>
    <setting id="menu_bg_opacity" type="string">100</setting>
    <setting id="SkinHelper.AllMusicBackground.EnableWallImages" type="string">12</setting>
    <setting id="playlist.0.image.EnableWallImages" type="string">12</setting>
    <setting id="submenu_color" type="string"></setting>
    <setting id="default_livetv_bg" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.albums" type="string"></setting>
    <setting id="list_bg_color" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="dialog_msg" type="string">Confirm delete?</setting>
    <setting id="menu_bg_color" type="string"></setting>
    <setting id="skinshortcuts-widget-2" type="string">Addon</setting>
    <setting id="SkinHelper.AllMusicVideosBackground.EnableWallImages" type="string">12</setting>
    <setting id="default_global_bg" type="string">C:\Users\Jamisons-PC\AppData\Roaming\Kodi\media\splash.png</setting>
    <setting id="ShowCase.Delay" type="string"></setting>
    <setting id="MovieGenreIconPack.path" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.songs" type="string"></setting>
    <setting id="playlist.1.image.EnableWallImages" type="string">12</setting>
    <setting id="dialog_header" type="string">Remove</setting>
    <setting id="password_time" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="music_path" type="string"></setting>
    <setting id="fanart_view_opacity" type="string"></setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string"></setting>
    <setting id="SkinHelper.PicturesBackground.EnableWallImages" type="string">12</setting>
    <setting id="splash_path" type="string"></setting>
</settings>
