<settings>
    <setting id="3d_audio_videos_folder" value="" />
    <setting id="3d_countdown_video" value="0" />
    <setting id="3d_countdown_video_file" value="" />
    <setting id="3d_countdown_video_folder" value="" />
    <setting id="3d_enable_audio" value="true" />
    <setting id="3d_enable_ratings" value="true" />
    <setting id="3d_fpv_intro" value="0" />
    <setting id="3d_fpv_intro_file" value="" />
    <setting id="3d_fpv_intro_folder" value="" />
    <setting id="3d_fpv_outro" value="0" />
    <setting id="3d_fpv_outro_file" value="" />
    <setting id="3d_fpv_outro_folder" value="" />
    <setting id="3d_intermission_video" value="0" />
    <setting id="3d_intermission_video_file" value="" />
    <setting id="3d_intermission_video_folder" value="" />
    <setting id="3d_intro" value="0" />
    <setting id="3d_intro_file" value="" />
    <setting id="3d_intro_folder" value="" />
    <setting id="3d_movie_tags" value="3DSBS|3D.SBS|HSBS|H.SBS|H-SBS| SBS |FULL-SBS|FULL.SBS|FULLSBS|FSBS|HALF-SBS|3DTAB|3D.TAB|HTAB|H.TAB|3DOU|3D.OU|3D.HOU| HOU | OU |HALF-TAB" />
    <setting id="3d_outro" value="0" />
    <setting id="3d_outro_file" value="" />
    <setting id="3d_outro_folder" value="" />
    <setting id="3d_override" value="true" />
    <setting id="3d_rating_videos_folder" value="" />
    <setting id="3d_trailer_count" value="0" />
    <setting id="3d_trailer_folder" value="" />
    <setting id="3d_trailer_limit_genre" value="true" />
    <setting id="3d_trailer_limit_mpaa" value="true" />
    <setting id="3d_trailer_rating" value="--" />
    <setting id="3d_trailer_unwatched_only" value="false" />
    <setting id="3d_trailers" value="true" />
    <setting id="audio_videos_folder" value="" />
    <setting id="autorefresh" value="false" />
    <setting id="autorefresh_movie" value="false" />
    <setting id="cav_intro" value="0" />
    <setting id="cav_intro_file" value="" />
    <setting id="cav_intro_folder" value="" />
    <setting id="cav_outro" value="0" />
    <setting id="cav_outro_file" value="" />
    <setting id="cav_outro_folder" value="" />
    <setting id="countdown_video" value="0" />
    <setting id="countdown_video_file" value="" />
    <setting id="countdown_video_folder" value="" />
    <setting id="enable_3d_intro" value="false" />
    <setting id="enable_audio" value="true" />
    <setting id="enable_notification" value="true" />
    <setting id="enable_ratings" value="true" />
    <setting id="fpv_intro" value="0" />
    <setting id="fpv_intro_file" value="" />
    <setting id="fpv_intro_folder" value="" />
    <setting id="fpv_outro" value="0" />
    <setting id="fpv_outro_file" value="" />
    <setting id="fpv_outro_folder" value="" />
    <setting id="ha_3d_intro" value="false" />
    <setting id="ha_3d_outro" value="false" />
    <setting id="ha_3d_trailer" value="false" />
    <setting id="ha_audio_format" value="false" />
    <setting id="ha_cav_intro" value="false" />
    <setting id="ha_cav_outro" value="false" />
    <setting id="ha_countdown_video" value="false" />
    <setting id="ha_enable" value="false" />
    <setting id="ha_fpv_intro" value="false" />
    <setting id="ha_fpv_outro" value="false" />
    <setting id="ha_intermission" value="false" />
    <setting id="ha_movie" value="false" />
    <setting id="ha_mpaa_rating" value="false" />
    <setting id="ha_mte_intro" value="false" />
    <setting id="ha_mte_outro" value="false" />
    <setting id="ha_multi_trigger" value="true" />
    <setting id="ha_paused" value="false" />
    <setting id="ha_resumed" value="false" />
    <setting id="ha_script_end" value="false" />
    <setting id="ha_script_start" value="false" />
    <setting id="ha_trailer_start" value="false" />
    <setting id="ha_trivia_intro" value="false" />
    <setting id="ha_trivia_outro" value="false" />
    <setting id="ha_trivia_start" value="false" />
    <setting id="intermission_audio" value="true" />
    <setting id="intermission_ratings" value="true" />
    <setting id="intermission_video" value="0" />
    <setting id="intermission_video_file" value="" />
    <setting id="intermission_video_folder" value="" />
    <setting id="mte_intro" value="0" />
    <setting id="mte_intro_file" value="" />
    <setting id="mte_intro_folder" value="" />
    <setting id="mte_outro" value="0" />
    <setting id="mte_outro_file" value="" />
    <setting id="mte_outro_folder" value="" />
    <setting id="number_of_features" value="0" />
    <setting id="override_play" value="false" />
    <setting id="rating_videos_folder" value="" />
    <setting id="trailer_amt_db_file" value="special://profile/addon_data/script.apple.movie.trailers/AMT.db" />
    <setting id="trailer_count" value="0" />
    <setting id="trailer_download_folder" value="" />
    <setting id="trailer_folder" value="" />
    <setting id="trailer_hd_only" value="false" />
    <setting id="trailer_limit_genre" value="true" />
    <setting id="trailer_limit_mpaa" value="true" />
    <setting id="trailer_newest_only" value="false" />
    <setting id="trailer_play_mode" value="0" />
    <setting id="trailer_quality" value="0" />
    <setting id="trailer_rating" value="--" />
    <setting id="trailer_scraper" value="1" />
    <setting id="trailer_skip_youtube" value="true" />
    <setting id="trailer_unwatched_movie_only" value="true" />
    <setting id="trailer_unwatched_only" value="false" />
    <setting id="trivia_adjust_volume" value="true" />
    <setting id="trivia_fade_time" value="2" />
    <setting id="trivia_fade_volume" value="true" />
    <setting id="trivia_folder" value="" />
    <setting id="trivia_intro" value="0" />
    <setting id="trivia_intro_file" value="" />
    <setting id="trivia_intro_folder" value="" />
    <setting id="trivia_limit_query" value="true" />
    <setting id="trivia_mode" value="0" />
    <setting id="trivia_moviequiz_mode" value="0" />
    <setting id="trivia_moviequiz_qlimit" value="15" />
    <setting id="trivia_music" value="0" />
    <setting id="trivia_music_file" value="" />
    <setting id="trivia_music_folder" value="" />
    <setting id="trivia_music_volume" value="100" />
    <setting id="trivia_outro" value="0" />
    <setting id="trivia_outro_file" value="" />
    <setting id="trivia_outro_folder" value="" />
    <setting id="trivia_rating" value="--" />
    <setting id="trivia_slide_time_a" value="4" />
    <setting id="trivia_slide_time_c" value="4" />
    <setting id="trivia_slide_time_q" value="8" />
    <setting id="trivia_slide_time_s" value="10" />
    <setting id="trivia_total_time" value="5" />
    <setting id="trivia_unwatched_only" value="false" />
    <setting id="voxcommando" value="false" />
</settings>
