<settings>
    <setting id="token" value="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MTI3NTM0NTEsImlkIjoic2NyaXB0Lm1vZHVsZS50aGV0dmRiIiwib3JpZ19pYXQiOjE1MTI2NjcwNTF9.TOPg-Zl-lLOGZ-refjFyf83ZfjAR-1m50lmYKJYmRPq7Mg-S6HVKD5436UBstT7CZ-rtyTAtR7b7RerwCJL5KDS7JajTM971FSdZGOuoD1yRbRg8JKPGs4zKsGbdGYMZtzdcWXl-DN5xDQHO1B7Q962L2trxkZiUKn6HjiyU3jG41_YXnPXHtNMeL-NnBczsOW5eVfS1Id3BAUmJcY8axIMB_gzjyPjmf_iznSz52LIXEe3tNhxB05n7DDjr8tKyDz-FRRasXMdJJilZNQDbQltr6xEzYr4PSSIFAaOl_1sqrp8iR-8w_RpLCH7-DobwBg9SzvYg-wwgGzGGE02mTg" />
</settings>
