<settings>
    <setting id="PVRGuideFullScreen" type="bool">false</setting>
    <setting id="SmartShortcuts.plex" type="bool">false</setting>
    <setting id="skinshortcuts-background-C:\Users\Jamisons-PC\AppData\Roaming\Kodi\addons\resource.images.skinbackgrounds.clear\resources\livetv.jpg" type="bool">true</setting>
    <setting id="global.hidefanart" type="bool">false</setting>
    <setting id="SkinHelper.EnableMusicArt" type="bool">true</setting>
    <setting id="LoveFilmSmall" type="bool">false</setting>
    <setting id="DisableMusicVideoAutoInfo" type="bool">false</setting>
    <setting id="EnableTransparentTopbar" type="bool">false</setting>
    <setting id="SkinHelper.EnableWallBackgrounds" type="bool">false</setting>
    <setting id="header.mainheadercount" type="bool">false</setting>
    <setting id="CategoriesOnBottom" type="bool">true</setting>
    <setting id="HideOSDDiffuseColors" type="bool">false</setting>
    <setting id="DisableSubMenu" type="bool">false</setting>
    <setting id="ShowOSDVideoCodec" type="bool">false</setting>
    <setting id="ArtistSlideShow.Disabled" type="bool">false</setting>
    <setting id="global.showvideo" type="bool">false</setting>
    <setting id="OnlyBlurInfo" type="bool">false</setting>
    <setting id="WidgetsInit" type="bool">true</setting>
    <setting id="BigSubmenu" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="furniture.flags" type="bool">false</setting>
    <setting id="MatchOverlayColors" type="bool">false</setting>
    <setting id="DisableInfoListArt.558" type="bool">false</setting>
    <setting id="startup.init" type="bool">true</setting>
    <setting id="SkinHelper.EnableExtendedArt" type="bool">false</setting>
    <setting id="HideOSDScrollingText" type="bool">false</setting>
    <setting id="BigMusicVis" type="bool">false</setting>
    <setting id="ShiftFanartDown" type="bool">false</setting>
    <setting id="DebugInfo" type="bool">false</setting>
    <setting id="skinshortcuts-widget-" type="bool">true</setting>
    <setting id="SkinHelper.ForcedViews.Enabled" type="bool">false</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="DisableOSDInfo" type="bool">false</setting>
    <setting id="UseHoursMinutes" type="bool">false</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="skinshortcuts-background-C:\Users\Jamisons-PC\AppData\Roaming\Kodi\addons\resource.images.skinbackgrounds.clear\resources\movies.jpg" type="bool">true</setting>
    <setting id="skinshortcuts-background-C:\Users\Jamisons-PC\AppData\Roaming\Kodi\addons\resource.images.skinbackgrounds.clear\resources\musicvideos.jpg" type="bool">true</setting>
    <setting id="EnableBlur" type="bool">false</setting>
    <setting id="DisableInfoListArt.557" type="bool">false</setting>
    <setting id="global.kioskmode" type="bool">false</setting>
    <setting id="SubmenuIndicator" type="bool">false</setting>
    <setting id="MatchColors" type="bool">false</setting>
    <setting id="DisableVignette" type="bool">false</setting>
    <setting id="SlideOverContent" type="bool">false</setting>
    <setting id="DisableInfoListArt.551" type="bool">false</setting>
    <setting id="Home_Horizontal" type="bool">false</setting>
    <setting id="skinshortcuts-background-C:\Users\Jamisons-PC\AppData\Roaming\Kodi\addons\resource.images.skinbackgrounds.clear\resources\tvshows.jpg" type="bool">true</setting>
    <setting id="skinshortcuts-widget-VideoAddons" type="bool">true</setting>
    <setting id="DisableInfoListArt.57" type="bool">false</setting>
    <setting id="DisableInfoRatings" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Weather" type="bool">false</setting>
    <setting id="DisableCharacterArt" type="bool">false</setting>
    <setting id="skinshortcuts-background-C:\Users\Jamisons-PC\AppData\Roaming\Kodi\addons\resource.images.skinbackgrounds.clear\resources\video.jpg" type="bool">true</setting>
    <setting id="SmartShortcuts.emby" type="bool">false</setting>
    <setting id="WidgetsLabel.DisableArtist" type="bool">false</setting>
    <setting id="DisableInfoListArt.54" type="bool">false</setting>
    <setting id="OSDHideSubmenu" type="bool">false</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">true</setting>
    <setting id="ParallaxAnimation" type="bool">false</setting>
    <setting id="musicvis.fanartfallback" type="bool">false</setting>
    <setting id="PreferFanartHome" type="bool">false</setting>
    <setting id="LargeStatusbarFont" type="bool">false</setting>
    <setting id="ShowInfoPaused" type="bool">false</setting>
    <setting id="SmartShortcuts.favorites" type="bool">false</setting>
    <setting id="hide.busydialog" type="bool">false</setting>
    <setting id="MinimalBusyLoader" type="bool">false</setting>
    <setting id="DontPauseOSD" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtraFanart" type="bool">false</setting>
    <setting id="IconOnlyMode" type="bool">false</setting>
    <setting id="ShowPathInfo" type="bool">false</setting>
    <setting id="PVRGuideGenreColors" type="bool">false</setting>
    <setting id="NoFanart" type="bool">false</setting>
    <setting id="DisableNextUpInfo" type="bool">false</setting>
    <setting id="DisableAlphabetStrip" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Addon" type="bool">true</setting>
    <setting id="ShowOSDClearArt" type="bool">false</setting>
    <setting id="home.dontshowfanart" type="bool">false</setting>
    <setting id="WidgetLabels" type="bool">false</setting>
    <setting id="skinshortcuts-background-C:\Users\Jamisons-PC\AppData\Roaming\Kodi\addons\resource.images.skinbackgrounds.wallsquare\resources\livetv.jpg" type="bool">true</setting>
    <setting id="skinshortcuts-background-C:\Users\Jamisons-PC\AppData\Roaming\Kodi\media\RTOTV FINAL.JPG" type="bool">true</setting>
    <setting id="DisableDiscArt" type="bool">false</setting>
    <setting id="WidgetsLabel.DisableTvShowTitle" type="bool">false</setting>
    <setting id="skinshortcuts-widget-1037" type="bool">true</setting>
    <setting id="BounceAnimations" type="bool">false</setting>
    <setting id="global.showvisualisation" type="bool">false</setting>
    <setting id="ArtworkDownloaderAll" type="bool">false</setting>
    <setting id="DisableOverlayColor" type="bool">false</setting>
    <setting id="DisablePanels" type="bool">false</setting>
    <setting id="skinshortcuts-background-C:\Users\Jamisons-PC\AppData\Roaming\Kodi\addons\resource.images.skinbackgrounds.clear\resources\sport.jpg" type="bool">true</setting>
    <setting id="SkinHelper.EnableDayNightThemes" type="bool">false</setting>
    <setting id="OSDVisualisation.ShowFanart" type="bool">false</setting>
    <setting id="skinshortcuts-background-playlistBackground" type="bool">false</setting>
    <setting id="ArtistSlideshow.Animate" type="bool">false</setting>
    <setting id="SmartShortcuts.playlists" type="bool">false</setting>
    <setting id="DisableWidgetCategories" type="bool">false</setting>
    <setting id="MouseWidgets" type="bool">false</setting>
    <setting id="CycleColors" type="bool">false</setting>
    <setting id="AutoMusicVis" type="bool">false</setting>
    <setting id="Animate_Skin" type="bool">false</setting>
    <setting id="DisableFakeLandscapeArt" type="bool">false</setting>
    <setting id="skinshortcuts-background-C:\Users\Jamisons-PC\AppData\Roaming\Kodi\addons\resource.images.skinbackgrounds.clear\resources\kids.jpg" type="bool">true</setting>
    <setting id="UpdateArt.Enabled" type="bool">false</setting>
    <setting id="DisableClearLogo" type="bool">false</setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string"></setting>
    <setting id="Home.7.Widget.2" type="string">plugin://plugin.video.shoutfactorytv/?mode=GM&amp;url=%2Ffilm%2Fvhs-vault&amp;reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="colorbox_quality" type="string">8</setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="Home.2.Widget.5" type="string"></setting>
    <setting id="colorbox_black" type="string">000000</setting>
    <setting id="SkinHelper.ColorTheme.Night.time" type="string"></setting>
    <setting id="Home.9.Widget.1" type="string"></setting>
    <setting id="colorbox_main" type="string">main:fhls*-;0.45;0.9</setting>
    <setting id="Skin.ForcedView.countries" type="string"></setting>
    <setting id="Skin.ForcedView.tvshows" type="string"></setting>
    <setting id="gradientcolor.name" type="string">None</setting>
    <setting id="Home.3.Widget.2" type="string">plugin://plugin.video.toonjet/?action=Featured&amp;url=featured.php%3Fsortby%3Drated%26order%3DDESC%26count%3D64&amp;reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.0.Widget.7" type="string"></setting>
    <setting id="Skin.ForcedView.actors" type="string"></setting>
    <setting id="Home.4.Widget.4" type="string">plugin://plugin.video.science.friday?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string"></setting>
    <setting id="Skin.ForcedView.movies" type="string"></setting>
    <setting id="Skin.ForcedView.sets" type="string"></setting>
    <setting id="Home.0.Widget.5" type="string"></setting>
    <setting id="Home.0.Widget.6" type="string"></setting>
    <setting id="Home.7.Widget.0" type="string">plugin://plugin.video.shoutfactorytv/?mode=GE&amp;url=%2Fseries%2Fmystery-science-theater-3000&amp;reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.0.Widget.4" type="string"></setting>
    <setting id="Home.10.Widget.7" type="string"></setting>
    <setting id="Home.10.Widget.3" type="string"></setting>
    <setting id="Home.3.Widget.3" type="string">plugin://plugin.video.vimeo/channel/everythinganimated/?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.0.Widget.0" type="string"></setting>
    <setting id="Home.1.Widget.6" type="string"></setting>
    <setting id="Home.6.Widget.1" type="string">plugin://plugin.video.sundance/?mode=GE&amp;url=http%3A%2F%2Fwww.sundance.tv%2Fwatch-now%2Fmovies%2F&amp;reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="skinshortcuts-widget-8" type="string"></setting>
    <setting id="skinshortcuts-widget-9" type="string">Addon</setting>
    <setting id="Home.1.Widget.4" type="string"></setting>
    <setting id="Skin.ForcedView." type="string"></setting>
    <setting id="Home.8.Widget.2" type="string">plugin://plugin.video.vimeo/channel/worldhd/?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.6.Widget.4" type="string"></setting>
    <setting id="Home.4.Widget.3" type="string">plugin://plugin.video.time_com/?url=http%3A%2F%2Fapi.brightcove.com%2Fservices%2Flibrary%3Fcommand%3Dfind_all_videos%26get_item_count%3Dtrue%26page_number%3D0%26page_size%3D50%26sort_order%3DDESC%26sort_by%3Dplays_trailing_week%26video_fields%3Did%2Cname%2CthumbnailURL%2CreferenceId%2CshortDescription%2ClongDescription%2Ctags%2Clength%26custom_fields%3Drelatedtopics%2Cvideoredirect%26callback%3D%26token%3DSvy7-e9mdkTCJdeOamQnB3soRQtQLA6s1Ypb2wtmE2g.&amp;mode=listVideos&amp;reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Skin.ForcedView.years" type="string"></setting>
    <setting id="Home.11.Widget.4" type="string"></setting>
    <setting id="colorbox_blend" type="string">100</setting>
    <setting id="gradientcolor.name.name" type="string">None</setting>
    <setting id="Home.10.Widget.1" type="string"></setting>
    <setting id="Home.5.Widget.1" type="string">plugin://plugin.video.foodnetwork?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.6.Widget.3" type="string"></setting>
    <setting id="Home.1.Widget.3" type="string"></setting>
    <setting id="colorbox_bitsize" type="string">1</setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string"></setting>
    <setting id="Home.7.Widget.6" type="string"></setting>
    <setting id="Skin.ForcedView.addons" type="string"></setting>
    <setting id="skinshortcuts-widget-10" type="string">Addon</setting>
    <setting id="Home.2.Widget.3" type="string"></setting>
    <setting id="HomeNumItems" type="string">11</setting>
    <setting id="focuscolor.name.name" type="string">ff3ba828</setting>
    <setting id="Home.1.Widget.0" type="string"></setting>
    <setting id="fanart.fallback" type="string">C:\Users\Jamisons-PC\Downloads\RTOTVADJUST1.jpg</setting>
    <setting id="Home.0.Widget.2" type="string"></setting>
    <setting id="Home.7.Widget.5" type="string"></setting>
    <setting id="Home.4.Widget.1" type="string">plugin://plugin.video.thinktv/?mode=GS&amp;url=history%7C0&amp;reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.8.Widget.7" type="string">plugin://plugin.video.shoutfactorytv/?mode=GE&amp;url=%2Fseries%2Fthe-goode-family&amp;reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.11.Widget.0" type="string"></setting>
    <setting id="Home.5.Widget.5" type="string"></setting>
    <setting id="gradientcolor.name.base" type="string"></setting>
    <setting id="skinshortcuts-widget-4" type="string">Addon</setting>
    <setting id="Home.5.Widget.0" type="string">plugin://plugin.video.travel?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.2.Widget.6" type="string"></setting>
    <setting id="Home.3.Widget.7" type="string"></setting>
    <setting id="skinshortcuts-widget-7" type="string">Addon</setting>
    <setting id="focuscolor.name" type="string">ff3ba828</setting>
    <setting id="colorbox_blursize" type="string">5</setting>
    <setting id="focuscolor.name.base" type="string">ff3ba828</setting>
    <setting id="Home.2.Widget.4" type="string"></setting>
    <setting id="Home.10.Widget.5" type="string"></setting>
    <setting id="Skin.ForcedView.genres" type="string"></setting>
    <setting id="Home.11.Widget.5" type="string"></setting>
    <setting id="Home.4.Widget.7" type="string"></setting>
    <setting id="Skin.ForcedView.studios" type="string"></setting>
    <setting id="Home.9.Widget.5" type="string"></setting>
    <setting id="Home.10.Widget.6" type="string"></setting>
    <setting id="Home.6.Widget.5" type="string"></setting>
    <setting id="Home.5.Widget.3" type="string">plugin://plugin.video.hgtv?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.7.Widget.1" type="string">plugin://plugin.video.shoutfactorytv/?mode=GM&amp;url=%2Ffilm%2Fwestern&amp;reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.2.Widget.0" type="string">plugin://plugin.video.wabc?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.6.Widget.2" type="string"></setting>
    <setting id="Home.11.Widget.6" type="string"></setting>
    <setting id="Home.5.Widget.2" type="string">plugin://plugin.video.cook?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="colorbox_pixelsize" type="string">12</setting>
    <setting id="Skin.ForcedView.playlists" type="string"></setting>
    <setting id="Home.8.Widget.0" type="string">plugin://plugin.video.youtube/special/popular_right_now/?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.8.Widget.1" type="string">plugin://plugin.video.break_com/feed/41/?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.4.Widget.0" type="string">plugin://plugin.video.thinktv/?mode=GS&amp;url=news_and_public_affairs%7C0&amp;reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.3.Widget.1" type="string">plugin://plugin.video.pbskids?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="weather.icons.name" type="string">Weather Icons - Default</setting>
    <setting id="Skin.ForcedView.videos" type="string"></setting>
    <setting id="Home.6.Widget.6" type="string"></setting>
    <setting id="Skin.ForcedView.artists" type="string"></setting>
    <setting id="Home.7.Widget.7" type="string"></setting>
    <setting id="Home.10.Widget.2" type="string"></setting>
    <setting id="Home.5.Widget.7" type="string"></setting>
    <setting id="weather.icons.ext" type="string">.png</setting>
    <setting id="Skin.ForcedView.files" type="string"></setting>
    <setting id="Home.1.Widget.2" type="string"></setting>
    <setting id="Home.1.Widget.7" type="string"></setting>
    <setting id="colorbox_desat" type="string">0.3</setting>
    <setting id="Skin.ForcedView.images" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="Home.5.Widget.6" type="string"></setting>
    <setting id="Home.0.Widget.1" type="string"></setting>
    <setting id="overlaycolor.name.base" type="string">ffa89528</setting>
    <setting id="weather.icons.path" type="string">resource://resource.images.weathericons.default/</setting>
    <setting id="Home.9.Widget.6" type="string"></setting>
    <setting id="Home.9.Widget.2" type="string"></setting>
    <setting id="Home.6.Widget.7" type="string"></setting>
    <setting id="Home.4.Widget.6" type="string">plugin://plugin.video.wsj/?url=http%3A%2F%2Fwww.wsj.com%2Fvideo%2Fbrowse&amp;mode=GS&amp;name=Latest&amp;fanart=C%3A%5CUsers%5CJamisons-PC%5CAppData%5CRoaming%5CKodi%5Caddons%5Cplugin.video.wsj%5Cfanart.jpg&amp;reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.0.Widget.3" type="string"></setting>
    <setting id="Home.7.Widget.4" type="string"></setting>
    <setting id="Home.3.Widget.6" type="string"></setting>
    <setting id="Home.9.Widget.4" type="string"></setting>
    <setting id="colorbox_white" type="string">ffffff</setting>
    <setting id="Skin.ForcedView.songs" type="string"></setting>
    <setting id="Home.7.Widget.3" type="string"></setting>
    <setting id="Skin.ForcedView.albums" type="string"></setting>
    <setting id="Skin.ForcedView.mixed" type="string"></setting>
    <setting id="Home.11.Widget.1" type="string"></setting>
    <setting id="Home.2.Widget.1" type="string">plugin://plugin.video.wnbc?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="skinshortcuts-widget-5" type="string">Addon</setting>
    <setting id="Home.8.Widget.6" type="string">plugin://plugin.video.shoutfactorytv/?mode=GE&amp;url=%2Fseries%2Fhome-movies&amp;reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.1.Widget.5" type="string"></setting>
    <setting id="Home.10.Widget.0" type="string"></setting>
    <setting id="home.slideshowpath" type="string"></setting>
    <setting id="skinshortcuts-widget-2" type="string">Addon</setting>
    <setting id="SkinHelper.ColorTheme.Day.time" type="string"></setting>
    <setting id="colorbox_comp" type="string">main:hls*0.75;0;0@fhls*-;0.45;0.9</setting>
    <setting id="Home.1.Widget.1" type="string"></setting>
    <setting id="Skin.ForcedView.seasons" type="string"></setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="skinshortcuts-widget-3" type="string">Addon</setting>
    <setting id="Home.11.Widget.3" type="string"></setting>
    <setting id="Home.8.Widget.4" type="string">plugin://plugin.video.simpsonsworld?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.9.Widget.7" type="string"></setting>
    <setting id="Home.2.Widget.2" type="string">plugin://plugin.video.newson/?url=Kentucky&amp;mode=1&amp;name=Kentucky&amp;reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="StartupPlaylist" type="string"></setting>
    <setting id="Home.9.Widget.0" type="string"></setting>
    <setting id="Home.2.Widget.7" type="string"></setting>
    <setting id="Skin.ForcedView.musicvideos" type="string"></setting>
    <setting id="colorbox_effect" type="string">blur</setting>
    <setting id="Home.11.Widget.7" type="string"></setting>
    <setting id="Skin.ForcedView.unknown" type="string"></setting>
    <setting id="Home.3.Widget.5" type="string">plugin://plugin.video.classiccinema/genres/http%3A%2F%2Fwww.classiccinemaonline.com%2Fmovie-billboards%2Fanimated?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.3.Widget.0" type="string">plugin://plugin.video.abcfamily?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="overlaycolor.name" type="string">ffa89528</setting>
    <setting id="Skin.ForcedView.episodes" type="string"></setting>
    <setting id="skinshortcuts-widget-6" type="string">Addon</setting>
    <setting id="Home.3.Widget.4" type="string">plugin://plugin.video.toonjet/?action=Cartoons&amp;url=cartoons%2FLooneyTunes%2F&amp;reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Skin.ForcedView.directors" type="string"></setting>
    <setting id="Home.4.Widget.2" type="string">plugin://plugin.video.ted.talks/?mode=newTalksRss&amp;reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.8.Widget.3" type="string">plugin://plugin.video.roosterteeth/?action=list-shows&amp;url=http%3A%2F%2Fwww.roosterteeth.com%2Fshow%2F&amp;plugin_category=Roosterteeth+Shows&amp;next_page_possible=False&amp;reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Skin.ForcedView.tags" type="string"></setting>
    <setting id="skinshortcuts-widget-1" type="string">Addon</setting>
    <setting id="Home.11.Widget.2" type="string"></setting>
    <setting id="Home.4.Widget.5" type="string">plugin://plugin.video.nasa/channels/?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Home.5.Widget.4" type="string">plugin://plugin.video.diy?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="TransparencyLevel" type="string">Default</setting>
    <setting id="Home.8.Widget.5" type="string">plugin://plugin.video.southpark_unofficial?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="Skin.ForcedView.games" type="string"></setting>
    <setting id="Home.10.Widget.4" type="string"></setting>
    <setting id="Home.6.Widget.0" type="string">plugin://plugin.video.sundance?reload=$INFO[Window(Home).Property(widgetreload)]</setting>
    <setting id="overlaycolor.name.name" type="string">ffa89528</setting>
    <setting id="Home.9.Widget.3" type="string"></setting>
</settings>
