<settings>
    <setting id="bbc_id_autologin" value="false" />
    <setting id="bbc_id_enabled" value="false" />
    <setting id="bbc_id_password" value="" />
    <setting id="bbc_id_username" value="" />
    <setting id="catchup_bitrate" value="0" />
    <setting id="catchup_source" value="0" />
    <setting id="licence_warning_shown" value="true" />
    <setting id="live_bitrate" value="0" />
    <setting id="live_source" value="0" />
    <setting id="menu_radio_added" value="true" />
    <setting id="menu_radio_az" value="true" />
    <setting id="menu_radio_categories" value="true" />
    <setting id="menu_radio_following" value="true" />
    <setting id="menu_radio_live" value="true" />
    <setting id="menu_radio_most_popular" value="true" />
    <setting id="menu_radio_search" value="true" />
    <setting id="menu_video_added" value="true" />
    <setting id="menu_video_az" value="true" />
    <setting id="menu_video_categories" value="true" />
    <setting id="menu_video_channel_az" value="true" />
    <setting id="menu_video_channel_highlights" value="true" />
    <setting id="menu_video_highlights" value="true" />
    <setting id="menu_video_live" value="true" />
    <setting id="menu_video_most_popular" value="true" />
    <setting id="menu_video_red_button" value="true" />
    <setting id="menu_video_search" value="true" />
    <setting id="menu_video_watching" value="true" />
    <setting id="paginate_episodes" value="1" />
    <setting id="radio_live_bitrate" value="3" />
    <setting id="radio_location" value="0" />
    <setting id="radio_paginate_episodes" value="2" />
    <setting id="radio_source" value="0" />
    <setting id="redbutton_warning" value="true" />
    <setting id="scrape_atoz" value="0" />
    <setting id="search_ad" value="false" />
    <setting id="search_signed" value="false" />
    <setting id="stream_protocol" value="1" />
    <setting id="streams_autoplay" value="true" />
    <setting id="subtitles" value="false" />
    <setting id="suppress_incomplete" value="false" />
</settings>
