<settings>
    <setting id="SmartShortcuts.favorites" type="bool">false</setting>
    <setting id="OSD.HideWeatherClock" type="bool">false</setting>
    <setting id="ExtendedUseClearMovieLogo" type="bool">false</setting>
    <setting id="HomeMusic" type="bool">false</setting>
    <setting id="AutoScroll.Disable" type="bool">false</setting>
    <setting id="ExtendedUseMovieLandscape" type="bool">false</setting>
    <setting id="BackgroundVideo" type="bool">false</setting>
    <setting id="ExtendedUseMovieClearArt" type="bool">false</setting>
    <setting id="Guide.HideWeather" type="bool">false</setting>
    <setting id="HomeProgramTile2" type="bool">false</setting>
    <setting id="HomeProgramTile9" type="bool">false</setting>
    <setting id="HomeProgramTile1" type="bool">false</setting>
    <setting id="HomeProgramTile7" type="bool">false</setting>
    <setting id="HomeProgramTile8" type="bool">false</setting>
    <setting id="MovieInformation.PlayTrailer" type="bool">false</setting>
    <setting id="HomeProgramTile3" type="bool">false</setting>
    <setting id="HomeVideoTile4" type="bool">false</setting>
    <setting id="HomeProgramTile4" type="bool">false</setting>
    <setting id="Guide.HideClockDate" type="bool">true</setting>
    <setting id="GlobalRSS.Bottom" type="bool">false</setting>
    <setting id="posterstv" type="bool">false</setting>
    <setting id="HomeVideoTile3" type="bool">false</setting>
    <setting id="Guide.Custom3" type="bool">false</setting>
    <setting id="NextAired.Update" type="bool">false</setting>
    <setting id="HomeProgramTile10" type="bool">false</setting>
    <setting id="SpinControl.Default" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtendedArt" type="bool">false</setting>
    <setting id="SmartShortcuts.playlists" type="bool">false</setting>
    <setting id="UsedBVolume" type="bool">false</setting>
    <setting id="GlobalRSS.Top" type="bool">true</setting>
    <setting id="HomePrograms" type="bool">true</setting>
    <setting id="SmartShortcuts.emby" type="bool">false</setting>
    <setting id="HideFanart" type="bool">false</setting>
    <setting id="HomeMovies" type="bool">false</setting>
    <setting id="AutoMusicFullscreen.Enabled" type="bool">false</setting>
    <setting id="HideHomeButtons" type="bool">false</setting>
    <setting id="HideHomeProfileInfo" type="bool">false</setting>
    <setting id="HideHomeSubmenuArrow" type="bool">false</setting>
    <setting id="HomeMusicTile4" type="bool">false</setting>
    <setting id="OSD.HideChapterInfo" type="bool">false</setting>
    <setting id="ArtistSlideShow.Enabled" type="bool">false</setting>
    <setting id="OSDVisualisation.ShowFanart" type="bool">false</setting>
    <setting id="StartupPlaylist" type="bool">false</setting>
    <setting id="HomeTV" type="bool">false</setting>
    <setting id="SkinHelper.EnableDayNightThemes" type="bool">false</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">false</setting>
    <setting id="FanartHideInfo" type="bool">false</setting>
    <setting id="Guide.HideUserImage" type="bool">false</setting>
    <setting id="FanartPlot" type="bool">false</setting>
    <setting id="PreferLandscapeArt" type="bool">false</setting>
    <setting id="ThumbnailPlot" type="bool">false</setting>
    <setting id="CustomHomePanel4" type="bool">false</setting>
    <setting id="HideHomeColouredTiles" type="bool">false</setting>
    <setting id="HomeTVShowTile1" type="bool">false</setting>
    <setting id="Skin.Initialization" type="bool">true</setting>
    <setting id="OSDVisualisation.Enabled" type="bool">false</setting>
    <setting id="Guide.Custom4" type="bool">false</setting>
    <setting id="ArtistSlideShow.Animate" type="bool">false</setting>
    <setting id="HomeVideoTile2" type="bool">false</setting>
    <setting id="CustomHomePanel5" type="bool">false</setting>
    <setting id="HomeMusicTile3" type="bool">false</setting>
    <setting id="HomeHomeTile1" type="bool">false</setting>
    <setting id="HomeVideoTile5" type="bool">false</setting>
    <setting id="HomeTVShowTile4" type="bool">false</setting>
    <setting id="HomeMusicTile1" type="bool">false</setting>
    <setting id="HomeHomeTile2" type="bool">false</setting>
    <setting id="HomeVideoTile1" type="bool">false</setting>
    <setting id="ThumbnailHideInfo" type="bool">false</setting>
    <setting id="CustomHomePanel6" type="bool">false</setting>
    <setting id="HomeMusicTile2" type="bool">false</setting>
    <setting id="HomePicturesTile3" type="bool">false</setting>
    <setting id="HomeVideoTile6" type="bool">false</setting>
    <setting id="NextAired.Enabled" type="bool">false</setting>
    <setting id="HomeMusicTile6" type="bool">false</setting>
    <setting id="PlayTrailer.Minimized" type="bool">false</setting>
    <setting id="CustomHomePanel3" type="bool">false</setting>
    <setting id="Guide.Custom2" type="bool">false</setting>
    <setting id="CustomHomePanel1" type="bool">false</setting>
    <setting id="UpdateArt.Enabled" type="bool">false</setting>
    <setting id="HomeTVShowTile2" type="bool">false</setting>
    <setting id="Guide.Custom1" type="bool">false</setting>
    <setting id="CustomHomePanel2" type="bool">false</setting>
    <setting id="HomeMusicTile5" type="bool">false</setting>
    <setting id="HomePicturesTile2" type="bool">false</setting>
    <setting id="HomeTVShowTile3" type="bool">false</setting>
    <setting id="HomeProgramTile6" type="bool">false</setting>
    <setting id="HomeProgramTile5" type="bool">false</setting>
    <setting id="HomePicturesTile4" type="bool">false</setting>
    <setting id="HomePicturesTile1" type="bool">false</setting>
    <setting id="Guide.HideClock" type="bool">false</setting>
    <setting id="InfoPanelHideInfo" type="bool">false</setting>
    <setting id="SkinHelper.ForcedViews.Enabled" type="bool">false</setting>
    <setting id="OSD.HideFileStreamPath" type="bool">false</setting>
    <setting id="InfoListHideInfo" type="bool">false</setting>
    <setting id="InfoListShowPlotOnFocus" type="bool">false</setting>
    <setting id="InfoListPlot" type="bool">false</setting>
    <setting id="SmartShortcuts.plex" type="bool">false</setting>
    <setting id="ExtendedUseLandscape" type="bool">false</setting>
    <setting id="ExtendedUseClearLogo" type="bool">false</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="InfoPanelPlot" type="bool">false</setting>
    <setting id="HomeTVShows" type="bool">false</setting>
    <setting id="ThumbnailVideoSmall" type="bool">false</setting>
    <setting id="ExtendedUseClearArt" type="bool">false</setting>
    <setting id="nohdflag" type="bool">false</setting>
    <setting id="VideoOSD.OnTop" type="bool">false</setting>
    <setting id="ExtendedUseClearMovieArt" type="bool">false</setting>
    <setting id="EPGGenreColors.Enabled" type="bool">false</setting>
    <setting id="CDArt.Enabled" type="bool">false</setting>
    <setting id="HomeWeather" type="bool">true</setting>
    <setting id="OSDMusicAlt.Enabled" type="bool">false</setting>
    <setting id="KioskMode" type="bool">false</setting>
    <setting id="ThumbnailSmall" type="bool">false</setting>
    <setting id="SkinHelper.EnableWallBackgrounds" type="bool">false</setting>
    <setting id="HomePictures" type="bool">true</setting>
    <setting id="SkinHelper.EnableExtraFanart" type="bool">false</setting>
    <setting id="SkinHelper.EnableMusicArt" type="bool">false</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="OSDDefaultSubtitleButton.Enabled" type="bool">false</setting>
    <setting id="HomeMoviesMultiImage" type="string"></setting>
    <setting id="HomeVideoTile6.Animate" type="string"></setting>
    <setting id="HomeVideoTile2.ShowLabel" type="string"></setting>
    <setting id="HomeWidget.1.Type" type="string">1</setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string"></setting>
    <setting id="HomeWidget.4.Type" type="string">4</setting>
    <setting id="HomeHomeTile2.Label" type="string">Xperience1080</setting>
    <setting id="HomeHomeMultiImage" type="string"></setting>
    <setting id="HomeHomeTile2.Icon" type="string">C:\Users\Jamisons-PC\AppData\Roaming\Kodi\addons\skin.xperience1080\resources\icon.png</setting>
    <setting id="HomeWidget.3.Type" type="string">3</setting>
    <setting id="HomeWidget.3.Path" type="string"></setting>
    <setting id="HomeMusicMultiImage" type="string"></setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string"></setting>
    <setting id="HomeVideoTile6.Path" type="string"></setting>
    <setting id="HomeWidget.1.Path" type="string"></setting>
    <setting id="HomeHomeTile1.Icon" type="string"></setting>
    <setting id="HomeTVShowsSingleImage" type="string"></setting>
    <setting id="HomeWidget.4.Path" type="string"></setting>
    <setting id="HomeVideoTile5.Label" type="string"></setting>
    <setting id="HomeWeatherMultiImage" type="string"></setting>
    <setting id="HomeWidget.2.Type" type="string">2</setting>
    <setting id="HomeMusicSingleImage" type="string"></setting>
    <setting id="HomeVideoTile1.Path" type="string"></setting>
    <setting id="HomeProgramsSingleImage" type="string"></setting>
    <setting id="HomeHomeTile2.Animate" type="string"></setting>
    <setting id="HomeWidget.6.Type" type="string">30</setting>
    <setting id="HomePicturesTile3.Icon" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="rss.setting.pos" type="string">1</setting>
    <setting id="HomeMusicTile1.Animate" type="string"></setting>
    <setting id="HomeTVShowTile3.Animate" type="string"></setting>
    <setting id="HomeTVShowTile3.Label" type="string"></setting>
    <setting id="HomePicturesTile4.Label" type="string"></setting>
    <setting id="HomeMusicTile1.Path" type="string"></setting>
    <setting id="HomeProgramTile9.ShowLabel" type="string"></setting>
    <setting id="HomePicturesTile1.Path" type="string"></setting>
    <setting id="HomeTVShowTile2.Label" type="string"></setting>
    <setting id="HomePicturesTile3.Animate" type="string"></setting>
    <setting id="HomeVideoTile1.Icon" type="string"></setting>
    <setting id="HomeWidget.4.Label" type="string">New TV Shows</setting>
    <setting id="HomeProgramTile4.Animate" type="string"></setting>
    <setting id="HomeMusicTile4.Label" type="string"></setting>
    <setting id="HomeProgramTile6.Animate" type="string"></setting>
    <setting id="HomeProgramTile3.ShowLabel" type="string"></setting>
    <setting id="HomeProgramTile9.Label" type="string"></setting>
    <setting id="HomeProgramTile6.Path" type="string"></setting>
    <setting id="HomeProgramTile4.Label" type="string"></setting>
    <setting id="HomeProgramTile4.ShowLabel" type="string"></setting>
    <setting id="HomeProgramTile7.Animate" type="string"></setting>
    <setting id="HomeHomeTile2.Path" type="string"></setting>
    <setting id="HomeProgramTile1.Icon" type="string"></setting>
    <setting id="HomeProgramTile5.Label" type="string"></setting>
    <setting id="HomeProgramTile3.Label" type="string"></setting>
    <setting id="HomeProgramTile5.Animate" type="string"></setting>
    <setting id="HomeProgramTile3.Path" type="string"></setting>
    <setting id="HomePicturesTile4.Animate" type="string"></setting>
    <setting id="HomeProgramTile2.ShowLabel" type="string"></setting>
    <setting id="HomeHomeTile1.Path" type="string"></setting>
    <setting id="HomeProgramTile1.Label" type="string"></setting>
    <setting id="HomePicturesTile4.Path" type="string"></setting>
    <setting id="HomeProgramTile7.Path" type="string"></setting>
    <setting id="HomeProgramTile7.Label" type="string"></setting>
    <setting id="HomeProgramTile8.Animate" type="string"></setting>
    <setting id="HomeProgramTile5.Icon" type="string"></setting>
    <setting id="HomeProgramTile8.Path" type="string"></setting>
    <setting id="HomeProgramTile5.ShowLabel" type="string"></setting>
    <setting id="HomeProgramTile2.Icon" type="string"></setting>
    <setting id="HomePicturesTile4.Icon" type="string"></setting>
    <setting id="HomeProgramTile3.Icon" type="string"></setting>
    <setting id="HomeMusicTile5.Label" type="string"></setting>
    <setting id="HomeProgramTile2.Path" type="string"></setting>
    <setting id="HomeProgramTile2.Label" type="string"></setting>
    <setting id="HomeProgramTile3.Animate" type="string"></setting>
    <setting id="HomeMusicTile5.Animate" type="string"></setting>
    <setting id="GlobalOverlay" type="string">special://skin/extras/fade/overlay.png</setting>
    <setting id="HomeProgramTile5.Path" type="string"></setting>
    <setting id="HomePicturesTile1.Animate" type="string"></setting>
    <setting id="HomeProgramTile7.Icon" type="string"></setting>
    <setting id="HomePicturesSingleImage" type="string"></setting>
    <setting id="HomeProgramTile7.ShowLabel" type="string"></setting>
    <setting id="HomeTVShowTile2.Icon" type="string"></setting>
    <setting id="HomeProgramTile8.Label" type="string"></setting>
    <setting id="HomeVideoTile2.Icon" type="string"></setting>
    <setting id="HomePicturesTile2.Animate" type="string"></setting>
    <setting id="HomeProgramTile1.Path" type="string"></setting>
    <setting id="HomeVideoTile2.Label" type="string"></setting>
    <setting id="HomeVideoTile6.ShowLabel" type="string"></setting>
    <setting id="HomeProgramTile1.Animate" type="string"></setting>
    <setting id="HomeWidget.2.Path" type="string"></setting>
    <setting id="HomeTVShowTile2.Path" type="string"></setting>
    <setting id="HomeProgramTile2.Animate" type="string"></setting>
    <setting id="HomeVideoTile5.Animate" type="string"></setting>
    <setting id="HomeProgramTile8.Icon" type="string"></setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string"></setting>
    <setting id="HomeVideoTile1.ShowLabel" type="string"></setting>
    <setting id="HomeProgramTile6.Label" type="string"></setting>
    <setting id="HomeMusicTile2.Icon" type="string"></setting>
    <setting id="HomeProgramTile6.ShowLabel" type="string"></setting>
    <setting id="HomeProgramTile1.ShowLabel" type="string"></setting>
    <setting id="HomeProgramTile8.ShowLabel" type="string"></setting>
    <setting id="HomeProgramTile6.Icon" type="string"></setting>
    <setting id="HomeWidget.2.Label" type="string">Ongoing Episodes</setting>
    <setting id="HomeWidget.3.Label" type="string">New Movies</setting>
    <setting id="HomeTVShowTile1.Label" type="string"></setting>
    <setting id="HomeMusicTile5.Path" type="string"></setting>
    <setting id="HomeTVShowTile1.Icon" type="string"></setting>
    <setting id="HomeVideoTile1.Animate" type="string"></setting>
    <setting id="HomeSettingsMultiImage" type="string"></setting>
    <setting id="HomeVideoTile5.Icon" type="string"></setting>
    <setting id="HomePicturesTile2.Path" type="string"></setting>
    <setting id="HomeTVShowTile3.Path" type="string"></setting>
    <setting id="HomeTVShowTile3.Icon" type="string"></setting>
    <setting id="HomeTVShowTile4.Label" type="string"></setting>
    <setting id="HomeTVShowTile4.Path" type="string"></setting>
    <setting id="HomeMusicTile3.Animate" type="string"></setting>
    <setting id="HomeMusicTile6.Icon" type="string"></setting>
    <setting id="HomeTVShowTile4.ShowLabel" type="string"></setting>
    <setting id="HomeMusicTile4.Animate" type="string"></setting>
    <setting id="HomeTVShowTile4.Icon" type="string"></setting>
    <setting id="HomeMusicTile2.Animate" type="string"></setting>
    <setting id="HomeMusicTile6.Label" type="string"></setting>
    <setting id="HomeMusicTile1.Icon" type="string"></setting>
    <setting id="HomePicturesTile1.Label" type="string"></setting>
    <setting id="HomeTVShowTile4.Animate" type="string"></setting>
    <setting id="HomeMusicTile3.Icon" type="string"></setting>
    <setting id="HomeMusicTile6.Animate" type="string"></setting>
    <setting id="HomeMusicTile4.Icon" type="string"></setting>
    <setting id="HomeWidget.6.Label" type="string">XKCD.com</setting>
    <setting id="PicturesPath" type="string"></setting>
    <setting id="HomePicturesTile3.ShowLabel" type="string"></setting>
    <setting id="HomeTVShowTile2.Animate" type="string"></setting>
    <setting id="HomeMusicTile1.Label" type="string"></setting>
    <setting id="HomePicturesTile4.ShowLabel" type="string"></setting>
    <setting id="HomePicturesTile1.Icon" type="string"></setting>
    <setting id="HomePicturesTile2.ShowLabel" type="string"></setting>
    <setting id="HomePicturesTile1.ShowLabel" type="string"></setting>
    <setting id="HomeWidget.5.Label" type="string">Random Songs</setting>
    <setting id="HomeMusicTile5.Icon" type="string"></setting>
    <setting id="HomeMusicTile2.Path" type="string"></setting>
    <setting id="HomeMusicTile3.ShowLabel" type="string"></setting>
    <setting id="HomeSettingsSingleImage" type="string"></setting>
    <setting id="HomeWidget.5.Type" type="string">21</setting>
    <setting id="HomeWidget.1.Label" type="string">Spotlight</setting>
    <setting id="HomeWidget.5.Path" type="string"></setting>
    <setting id="HomeHomeTile1.Animate" type="string"></setting>
    <setting id="HomeVideoTile5.Path" type="string"></setting>
    <setting id="HomeMusicTile3.Path" type="string"></setting>
    <setting id="HomeMusicTile1.ShowLabel" type="string"></setting>
    <setting id="HomeWeatherSingleImage" type="string"></setting>
    <setting id="HomeVideoTile2.Animate" type="string"></setting>
    <setting id="HomeHomeTile1.ShowLabel" type="string"></setting>
    <setting id="HomeProgramsMultiImage" type="string"></setting>
    <setting id="HomeVideoTile6.Label" type="string"></setting>
    <setting id="HomeMusicTile6.ShowLabel" type="string"></setting>
    <setting id="GlobalBackdropMulti" type="string"></setting>
    <setting id="HomeTVShowsMultiImage" type="string"></setting>
    <setting id="HomeVideoTile1.Label" type="string"></setting>
    <setting id="HomeProgramTile10.Label" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Day.time" type="string"></setting>
    <setting id="CustomHomePanel3.Label" type="string"></setting>
    <setting id="MovieMPAALang" type="string"></setting>
    <setting id="HomeProgramTile10.Icon" type="string"></setting>
    <setting id="HomeProgramTile10.Animate" type="string"></setting>
    <setting id="HomeProgramTile4.Path" type="string"></setting>
    <setting id="HomeProgramTile4.Icon" type="string"></setting>
    <setting id="HomeProgramTile9.Path" type="string"></setting>
    <setting id="music.name" type="string">Library</setting>
    <setting id="HomeProgramTile9.Icon" type="string"></setting>
    <setting id="HomeProgramTile10.ShowLabel" type="string"></setting>
    <setting id="HomeMusicTile5.ShowLabel" type="string"></setting>
    <setting id="HomeProgramTile9.Animate" type="string"></setting>
    <setting id="HomeProgramTile10.Path" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Night.time" type="string"></setting>
    <setting id="HomePicturesTile3.TypeName" type="string"></setting>
    <setting id="HomeTVShowTile3.ShowLabel" type="string"></setting>
    <setting id="HomeHomeTile2.ShowLabel" type="string">on</setting>
    <setting id="HomePicturesTile1.TypeName" type="string"></setting>
    <setting id="HomeHomeSingleImage" type="string"></setting>
    <setting id="HomeMusicTile6.Path" type="string"></setting>
    <setting id="HomeMusicTile2.Label" type="string"></setting>
    <setting id="HomeTVShowTile1.Animate" type="string"></setting>
    <setting id="HomeTVShowTile1.ShowLabel" type="string"></setting>
    <setting id="HomeVideoTile5.ShowLabel" type="string"></setting>
    <setting id="HomeVideoTile3.Path" type="string"></setting>
    <setting id="HomeVideoTile2.Path" type="string"></setting>
    <setting id="HomeHomeTile1.Label" type="string"></setting>
    <setting id="HomeMusicTile3.Label" type="string"></setting>
    <setting id="HomeProgramTile7.TypeName" type="string"></setting>
    <setting id="HomeTVShowTile3.TypeName" type="string"></setting>
    <setting id="HomeProgramTile8.TypeName" type="string"></setting>
    <setting id="HomeMusicTile4.ShowLabel" type="string"></setting>
    <setting id="HomeMusicTile4.TypeName" type="string"></setting>
    <setting id="HomeVideoTile5.TypeName" type="string"></setting>
    <setting id="HomeMusicTile5.TypeName" type="string"></setting>
    <setting id="HomeTVShowTile4.TypeName" type="string"></setting>
    <setting id="HomeVideoTile6.TypeName" type="string"></setting>
    <setting id="HomeVideoTile4.Path" type="string"></setting>
    <setting id="HomeHomeTile2.TypeName" type="string">Video add-on</setting>
    <setting id="HomeHomeTile1.TypeName" type="string">Video add-on</setting>
    <setting id="HomePicturesTile4.TypeName" type="string"></setting>
    <setting id="HomeProgramTile5.TypeName" type="string"></setting>
    <setting id="HomeProgramTile9.TypeName" type="string"></setting>
    <setting id="Guide.Custom2.Label" type="string"></setting>
    <setting id="HomeHomeTile1.Type" type="string">0</setting>
    <setting id="rss.setting" type="string">Top</setting>
    <setting id="HomeMusicTile6.TypeName" type="string"></setting>
    <setting id="HomeProgramTile6.TypeName" type="string"></setting>
    <setting id="HomePicturesTile2.TypeName" type="string"></setting>
    <setting id="Guide.Custom1.Label" type="string"></setting>
    <setting id="HomeProgramTile3.TypeName" type="string"></setting>
    <setting id="LyricScript_Path" type="string"></setting>
    <setting id="HomeMoviesSingleImage" type="string"></setting>
    <setting id="HomeMusicTile3.TypeName" type="string"></setting>
    <setting id="HomeProgramTile1.TypeName" type="string"></setting>
    <setting id="Guide.Custom4.Label" type="string"></setting>
    <setting id="HomePicturesTile3.Label" type="string"></setting>
    <setting id="HomeTVShowTile2.ShowLabel" type="string"></setting>
    <setting id="HomeVideoTile1.TypeName" type="string"></setting>
    <setting id="HomePicturesTile2.Icon" type="string"></setting>
    <setting id="HomeTVShowTile1.Path" type="string"></setting>
    <setting id="HomeMusicTile2.ShowLabel" type="string"></setting>
    <setting id="HomeTVShowTile1.TypeName" type="string"></setting>
    <setting id="CustomHomePanel1.Label" type="string"></setting>
    <setting id="HomeTVShowTile2.TypeName" type="string"></setting>
    <setting id="Guide.Custom3.Label" type="string"></setting>
    <setting id="CustomHomePanel2.Label" type="string"></setting>
    <setting id="StartupPlaylist.Path" type="string"></setting>
    <setting id="HomePicturesTile3.Path" type="string"></setting>
    <setting id="CustomHomePanel4.Label" type="string"></setting>
    <setting id="HomeVideoTile6.Icon" type="string"></setting>
    <setting id="HomeMusicTile1.TypeName" type="string"></setting>
    <setting id="HomeVideoTile2.TypeName" type="string"></setting>
    <setting id="HomeMusicTile2.TypeName" type="string"></setting>
    <setting id="GlobalBackdropSingle" type="string">special://skin/extras/backgrounds/RTOTV FINAL.JPG</setting>
    <setting id="HomeProgramTile10.TypeName" type="string"></setting>
    <setting id="HomeMusicTile4.Path" type="string"></setting>
    <setting id="HomePicturesTile2.Label" type="string"></setting>
    <setting id="HomeProgramTile2.TypeName" type="string"></setting>
    <setting id="HomeProgramTile4.TypeName" type="string"></setting>
    <setting id="HomeHomeTile2.Type" type="string">0</setting>
    <setting id="HomeVideoTile5.Type" type="string"></setting>
    <setting id="HomeVideoTile6.Type" type="string"></setting>
    <setting id="HomeVideoTile1.Type" type="string"></setting>
    <setting id="HomeVideoTile2.Type" type="string"></setting>
    <setting id="HomeTVShowTile3.Type" type="string"></setting>
    <setting id="HomeTVShowTile4.Type" type="string"></setting>
    <setting id="HomeProgramTile10.Type" type="string"></setting>
    <setting id="HomeProgramTile9.Type" type="string"></setting>
    <setting id="HomeProgramTile4.Type" type="string"></setting>
    <setting id="HomeProgramTile3.Type" type="string"></setting>
    <setting id="HomeProgramTile2.Type" type="string"></setting>
    <setting id="HomeProgramTile1.Type" type="string"></setting>
    <setting id="HomeProgramTile8.Type" type="string"></setting>
    <setting id="HomeProgramTile7.Type" type="string"></setting>
    <setting id="HomeProgramTile6.Type" type="string"></setting>
    <setting id="HomeProgramTile5.Type" type="string"></setting>
    <setting id="HomeMusicTile6.Type" type="string"></setting>
    <setting id="HomeMusicTile5.Type" type="string"></setting>
    <setting id="HomeMusicTile2.Type" type="string"></setting>
    <setting id="HomeMusicTile1.Type" type="string"></setting>
    <setting id="HomeMusicTile4.Type" type="string"></setting>
    <setting id="HomePicturesTile4.Type" type="string"></setting>
    <setting id="HomePicturesTile3.Type" type="string"></setting>
    <setting id="HomePicturesTile2.Type" type="string"></setting>
    <setting id="HomePicturesTile1.Type" type="string"></setting>
    <setting id="HomeMusicTile3.Type" type="string"></setting>
    <setting id="HomeTVShowTile2.Type" type="string"></setting>
    <setting id="HomeTVShowTile1.Type" type="string"></setting>
</settings>
