<settings>
    <setting id="background" value="false" />
    <setting id="centralfolder_movies" value="" />
    <setting id="centralfolder_tvshows" value="" />
    <setting id="centralize_enable" value="false" />
    <setting id="debug_enabled" value="false" />
    <setting id="files_local" value="false" />
    <setting id="files_overwrite" value="false" />
    <setting id="limit_artwork" value="true" />
    <setting id="limit_extrafanart_maximum" value="5" />
    <setting id="limit_extrafanart_rating" value="5" />
    <setting id="limit_notext" value="true" />
    <setting id="limit_preferred_language" value="English" />
    <setting id="limit_size_moviefanart" value="720" />
    <setting id="limit_size_tvshowfanart" value="720" />
    <setting id="movie_banner" value="true" />
    <setting id="movie_clearart" value="true" />
    <setting id="movie_discart" value="true" />
    <setting id="movie_enable" value="true" />
    <setting id="movie_extrafanart" value="true" />
    <setting id="movie_extrathumbs" value="true" />
    <setting id="movie_fanart" value="true" />
    <setting id="movie_landscape" value="true" />
    <setting id="movie_logo" value="true" />
    <setting id="movie_poster" value="true" />
    <setting id="musicvideo_clearart" value="false" />
    <setting id="musicvideo_discart" value="false" />
    <setting id="musicvideo_enable" value="true" />
    <setting id="musicvideo_extrafanart" value="true" />
    <setting id="musicvideo_extrathumbs" value="true" />
    <setting id="musicvideo_fanart" value="true" />
    <setting id="musicvideo_logo" value="false" />
    <setting id="musicvideo_poster" value="true" />
    <setting id="notify" value="false" />
    <setting id="tvshow_characterart" value="true" />
    <setting id="tvshow_clearart" value="true" />
    <setting id="tvshow_enable" value="true" />
    <setting id="tvshow_extrafanart" value="true" />
    <setting id="tvshow_fanart" value="true" />
    <setting id="tvshow_landscape" value="true" />
    <setting id="tvshow_logo" value="true" />
    <setting id="tvshow_poster" value="true" />
    <setting id="tvshow_seasonbanner" value="false" />
    <setting id="tvshow_seasonlandscape" value="false" />
    <setting id="tvshow_seasonposter" value="false" />
    <setting id="tvshow_showbanner" value="true" />
    <setting id="xbmc_caching_enabled" value="false" />
</settings>
