<settings>
    <setting id="3D.tag.regex" value="(?i)3DSBS|3D.SBS|HSBS|H.SBS|H-SBS|[\. _]SBS[\. _]|FULL-SBS|FULL.SBS|FULLSBS|FSBS|HALF-SBS|3DTAB|3D.TAB|HTAB|H.TAB|3DOU|3D.OU|3D.HOU|[\. _]HOU[\. _]|[\. _]OU[\. _]|HALF-TAB" />
    <setting id="API_LEVEL" value="3" />
    <setting id="action.onAbort" value="false" />
    <setting id="action.onPause" value="false" />
    <setting id="action.onResume" value="0" />
    <setting id="action.test.runAbort" value="2" />
    <setting id="allow.video.skip" value="true" />
    <setting id="audioformat.fallback" value="0" />
    <setting id="audioformat.format" value="10" />
    <setting id="audioformat.method" value="0" />
    <setting id="audioformat.volume" value="100" />
    <setting id="bumper.fallback2D" value="false" />
    <setting id="database.autoUpdate" value="false" />
    <setting id="debug.log" value="false" />
    <setting id="feature.count" value="1" />
    <setting id="feature.ratingBumper" value="1" />
    <setting id="feature.ratingStyle" value="" />
    <setting id="feature.ratingStyle.dummy" value="0" />
    <setting id="feature.ratingStyleSelection" value="0" />
    <setting id="feature.volume" value="100" />
    <setting id="hide.queue.dialog" value="false" />
    <setting id="hide.queue.dialog.single" value="false" />
    <setting id="ignore.playlist.single" value="true" />
    <setting id="pastebin.user" value="" />
    <setting id="rating.system.default" value="MPAA" />
    <setting id="rating.system.default.dummy" value="0" />
    <setting id="scope" value="0" />
    <setting id="scraper.trailers.Content" value="true" />
    <setting id="scraper.trailers.KodiDB" value="true" />
    <setting id="scraper.trailers.KodiDB.markWatched" value="false" />
    <setting id="scraper.trailers.KodiDB.skipYouTube" value="false" />
    <setting id="scraper.trailers.StereoscopyNews" value="false" />
    <setting id="scraper.trailers.iTunes" value="true" />
    <setting id="settings.ratings.initialized" value="false" />
    <setting id="settings.ratings.initialized2" value="false" />
    <setting id="trailer.count" value="1" />
    <setting id="trailer.filter3D" value="true" />
    <setting id="trailer.limitGenre" value="true" />
    <setting id="trailer.order" value="0" />
    <setting id="trailer.preferUnwatched" value="true" />
    <setting id="trailer.quality" value="720p" />
    <setting id="trailer.ratingLimit" value="0" />
    <setting id="trailer.scrapers" value="Content,KodiDB,iTunes" />
    <setting id="trailer.source" value="0" />
    <setting id="trailer.volume" value="100" />
    <setting id="trivia.aDuration" value="6" />
    <setting id="trivia.cDuration" value="6" />
    <setting id="trivia.duration" value="10" />
    <setting id="trivia.format" value="0" />
    <setting id="trivia.music" value="1" />
    <setting id="trivia.musicFadeIn" value="3.0" />
    <setting id="trivia.musicFadeOut" value="3.0" />
    <setting id="trivia.musicVolume" value="75" />
    <setting id="trivia.qDuration" value="8" />
    <setting id="trivia.sDuration" value="10" />
    <setting id="trivia.transition" value="1" />
    <setting id="trivia.transitionDuration" value="400" />
    <setting id="video.preDelay" value="0" />
    <setting id="video.volume" value="100" />
</settings>
