<settings>
    <category label="General">
		<setting id="firstrun" type="bool" label="firstrun" default="true" visible="false"/>
		<setting id="runonce" type="text" label="runonce" default="1" visible="false"/>
		<setting id="username" type="text" label="Username" default=""/>
		<setting id="deviceid" type="text" label="30008"  enable="false"/>
		<setting id="accountstatus" type="text" label="30004"  default="not registered" enable="false"/>
		<setting id="Subends" type="text" label="30005"  enable="false"/>
		<setting id="activationsleft" type="text" label="30007"  enable="false"/>
	</category>
	<category label="Debug">
		<setting id="playvideo" type="bool" label="play videos" default="true"/>
		<setting id="animations" type="bool" label="enable animations" default="true"/>
		<setting id="sound" type="bool" label="enable sound effects" default="true"/>
	</category>
</settings>