<settings>
    <setting id="SkinHelper.View.Disabled.510" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Weather" type="bool">true</setting>
    <setting id="home.showdiscart" type="bool">false</setting>
    <setting id="SwitchSides" type="bool">false</setting>
    <setting id="global.hideobjectshadows" type="bool">false</setting>
    <setting id="skinshortcuts-background-playlistBackground" type="bool">false</setting>
    <setting id="Indicator.Resume" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtendedArt" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.59" type="bool">false</setting>
    <setting id="OSDVisualisation.ShowFanart" type="bool">false</setting>
    <setting id="store_init" type="bool">true</setting>
    <setting id="Store_Widget4_Genres" type="bool">false</setting>
    <setting id="background.hidefanart" type="bool">false</setting>
    <setting id="HorizontalMenus" type="bool">false</setting>
    <setting id="Store_Widget2_Genres" type="bool">false</setting>
    <setting id="widgets.persistent" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtraFanart" type="bool">false</setting>
    <setting id="Store_Widget6_Landscape" type="bool">true</setting>
    <setting id="Indicator.New" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.52" type="bool">false</setting>
    <setting id="SmartShortcuts.favorites" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.51" type="bool">false</setting>
    <setting id="Store_Widget8_Genres" type="bool">false</setting>
    <setting id="SkinHelper.EnableWallBackgrounds" type="bool">false</setting>
    <setting id="ShowOSDDiffuseColors" type="bool">false</setting>
    <setting id="global.fanart" type="bool">false</setting>
    <setting id="SkinHelper.EnableDayNightThemes" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.535" type="bool">false</setting>
    <setting id="header.colormatch" type="bool">true</setting>
    <setting id="HorizontalListNav" type="bool">false</setting>
    <setting id="OSDNoInfo" type="bool">false</setting>
    <setting id="ShowOSDScrollingText" type="bool">false</setting>
    <setting id="Store_Widget2_Landscape" type="bool">true</setting>
    <setting id="SkinHelper.View.Disabled.550" type="bool">false</setting>
    <setting id="background.showvisualisation" type="bool">false</setting>
    <setting id="osd.showclearart" type="bool">false</setting>
    <setting id="Store_Widget8_Landscape" type="bool">true</setting>
    <setting id="skinshortcuts-widget-Addon" type="bool">true</setting>
    <setting id="showanimate.poster" type="bool">false</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="home.hidewidgetbox" type="bool">false</setting>
    <setting id="background.animate" type="bool">true</setting>
    <setting id="SkinHelper.ForcedViews.Enabled" type="bool">false</setting>
    <setting id="background.showvideo" type="bool">true</setting>
    <setting id="music.autovis" type="bool">false</setting>
    <setting id="home.disableplayercontrols" type="bool">false</setting>
    <setting id="DisableShowcase" type="bool">false</setting>
    <setting id="Store_Widget3_Genres" type="bool">false</setting>
    <setting id="furniture.showflags" type="bool">false</setting>
    <setting id="KioskMode" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.57" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.577" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.500" type="bool">false</setting>
    <setting id="furniture.overlayinfo" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.53" type="bool">false</setting>
    <setting id="EnableColorFilter" type="bool">false</setting>
    <setting id="furniture.flags.extradetail" type="bool">false</setting>
    <setting id="disable.weatherheader" type="bool">false</setting>
    <setting id="SmartShortcuts.emby" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.55" type="bool">false</setting>
    <setting id="InfoShowPath" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.54" type="bool">false</setting>
    <setting id="music.showuserratings" type="bool">false</setting>
    <setting id="disable.clockheader" type="bool">false</setting>
    <setting id="SkinHelper.EnableMusicArt" type="bool">true</setting>
    <setting id="SkinHelper.View.Disabled.58" type="bool">false</setting>
    <setting id="Store_Widget1_Genres" type="bool">false</setting>
    <setting id="Store_Widget5_Landscape" type="bool">true</setting>
    <setting id="SmartShortcuts.playlists" type="bool">false</setting>
    <setting id="Store_Widget5_Genres" type="bool">false</setting>
    <setting id="global.eminenceonestyle" type="bool">false</setting>
    <setting id="home.tilecolor.nofocus" type="bool">false</setting>
    <setting id="Store_Widget4_Landscape" type="bool">true</setting>
    <setting id="ArtistSlideShow.Enabled" type="bool">false</setting>
    <setting id="home.transparent" type="bool">false</setting>
    <setting id="Indicator.UnWatchedEpisodes" type="bool">false</setting>
    <setting id="furniture.hidehubplot" type="bool">false</setting>
    <setting id="Store_Widget3_Landscape" type="bool">true</setting>
    <setting id="DebugInfo" type="bool">false</setting>
    <setting id="skinshortcuts-widget-librarydataprovider" type="bool">true</setting>
    <setting id="furniture.hidesortinfo" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.56" type="bool">false</setting>
    <setting id="Store_Widget1_Landscape" type="bool">true</setting>
    <setting id="enable.smartish.widgets" type="bool">false</setting>
    <setting id="Store_Widget6_Genres" type="bool">false</setting>
    <setting id="ArtistSlideshow.Animate" type="bool">false</setting>
    <setting id="Indicator.Watched" type="bool">false</setting>
    <setting id="global.showdialogshadows" type="bool">false</setting>
    <setting id="videoosd.showinfo" type="bool">true</setting>
    <setting id="OSDBlackScreen" type="bool">false</setting>
    <setting id="header.tilefollowsnode" type="bool">false</setting>
    <setting id="disable.mainheader" type="bool">false</setting>
    <setting id="header.mainheadercount" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.525" type="bool">false</setting>
    <setting id="lists.dontshowextralabels" type="bool">false</setting>
    <setting id="musicvis.fanartfallback" type="bool">false</setting>
    <setting id="SkinHelper.DisableScreenSaverOnFullScreenMusic" type="bool">false</setting>
    <setting id="home.tilecolor" type="bool">false</setting>
    <setting id="videoosd.hidenotification" type="bool">false</setting>
    <setting id="Store_Widget7_Genres" type="bool">false</setting>
    <setting id="widgets.donthidemenu" type="bool">false</setting>
    <setting id="global.widescreen" type="bool">false</setting>
    <setting id="Store_Widget7_Landscape" type="bool">true</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">true</setting>
    <setting id="DisableVideoLyrics" type="bool">false</setting>
    <setting id="SmartShortcuts.plex" type="bool">false</setting>
    <setting id="SkinHelper.View.Disabled.553" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string"></setting>
    <setting id="Store_Widget2_Content" type="string">plugin://plugin.video.fox.news/?url=http://video.foxbusiness.com/playlist/latest-video-latest-video&amp;name=Latest+Video&amp;mode=get_videolist</setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="skinshortcuts-widget-9" type="string">Addon</setting>
    <setting id="home.fallbackwidget" type="string">addons://sources/image</setting>
    <setting id="Widget.1108.Label" type="string"></setting>
    <setting id="Skin.ForcedView.addons" type="string"></setting>
    <setting id="Store_Widget7_Content" type="string">plugin://plugin.video.science.friday/main/content_lister?_pickle_=80027d71002855075f7469746c655f7101580d000000526563656e7420566964656f737102580400000073666964710358040000003131383371045805000000637479706571055805000000766964656f7106752e</setting>
    <setting id="Skin.ForcedView.playlists" type="string"></setting>
    <setting id="HighlightColor" type="string">ff28a855</setting>
    <setting id="Store_Widget3_Content" type="string">plugin://plugin.video.thinktv/?mode=GE&amp;url=8920a423-c836-40a9-9f65-7af07e32abf6|episodes|1</setting>
    <setting id="HighlightColor2.name" type="string">ffe5b535</setting>
    <setting id="Widget.1113.Label" type="string"></setting>
    <setting id="skinshortcuts-widget-14" type="string">Addon</setting>
    <setting id="home.headericon" type="string">special://skin/extras/icons/tv.png</setting>
    <setting id="Skin.ForcedView.countries" type="string"></setting>
    <setting id="Widget.1101.Label" type="string"></setting>
    <setting id="Store_Widget3_Target" type="string">videos</setting>
    <setting id="Skin.ForcedView.seasons" type="string"></setting>
    <setting id="skinshortcuts-widget-5" type="string">Addon</setting>
    <setting id="SkinHelper.SpinnerTexture.name" type="string">Custom multi image (folder)</setting>
    <setting id="skinshortcuts-widget-8" type="string">Addon</setting>
    <setting id="SkinHelper.AutoCloseVideoOSD" type="string"></setting>
    <setting id="Skin.ForcedView.videos" type="string"></setting>
    <setting id="Skin.ForcedView.files" type="string"></setting>
    <setting id="Store_Widget4_Title" type="string">The Wall Street Journal Live - Science and Space</setting>
    <setting id="Store_Widget1_Target" type="string">videos</setting>
    <setting id="HighlightColor.base" type="string">ff28a855</setting>
    <setting id="Skin.ForcedView.sets" type="string"></setting>
    <setting id="home.style" type="string">Default</setting>
    <setting id="home.fallbackwidget.name" type="string">1039</setting>
    <setting id="Widget.1109.Label" type="string"></setting>
    <setting id="Skin.ForcedView.games" type="string"></setting>
    <setting id="Skin.ForcedView." type="string"></setting>
    <setting id="SkinHelper.SkinHelper.SpinnerTexture.Path" type="string"></setting>
    <setting id="skinshortcuts-widget-15" type="string">addon</setting>
    <setting id="home.fallbackwidget.type" type="string">picture</setting>
    <setting id="Widget.1102.Label" type="string"></setting>
    <setting id="Store_Widget8_Target" type="string">videos</setting>
    <setting id="HighlightColor2" type="string">ffe5b535</setting>
    <setting id="Skin.ForcedView.mixed" type="string"></setting>
    <setting id="skinshortcuts-widget-1" type="string">Weather</setting>
    <setting id="Store_Widget6_Title" type="string">TED Talks - Newest Talks</setting>
    <setting id="Widget.1118.Label" type="string"></setting>
    <setting id="home.fallbackwidget.target" type="string">pictures</setting>
    <setting id="home.fallbackwidget.node" type="string">addon</setting>
    <setting id="skinshortcuts-widget-13" type="string">Addon</setting>
    <setting id="SkinHelper.ShowInfoAtPlaybackStart" type="string"></setting>
    <setting id="Skin.ForcedView.songs" type="string"></setting>
    <setting id="Skin.ForcedView.actors" type="string"></setting>
    <setting id="skinshortcuts-widget-12" type="string">Addon</setting>
    <setting id="Widget.1116.Label" type="string"></setting>
    <setting id="Widget.1105.Label" type="string"></setting>
    <setting id="Widget.1112.Label" type="string"></setting>
    <setting id="skinshortcuts-widget-3" type="string">Addon</setting>
    <setting id="StartupPlaylist" type="string">C:\Users\Jamisons-PC\AppData\Roaming\Kodi\media\Rtotv31 (3)_1.avi</setting>
    <setting id="HighlightColor2.base" type="string">ffe5b535</setting>
    <setting id="Widget.1117.Label" type="string"></setting>
    <setting id="Skin.ForcedView.episodes" type="string"></setting>
    <setting id="Widget.1104.Label" type="string"></setting>
    <setting id="Store_Widget3_Title" type="string">PBS ThinkTV - Episodes</setting>
    <setting id="SkinHelper.ColorTheme.Night.time" type="string"></setting>
    <setting id="Widget.1111.Label" type="string"></setting>
    <setting id="Skin.ForcedView.albums" type="string"></setting>
    <setting id="Store_Widget8_Title" type="string">Fox News - Latest US</setting>
    <setting id="Skin.ForcedView.movies" type="string"></setting>
    <setting id="Store_Widget5_Title" type="string">Fox News - Latest</setting>
    <setting id="Skin.ForcedView.directors" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="Store_Widget5_Target" type="string">videos</setting>
    <setting id="SkinHelper.SpinnerTexture.path" type="string">/</setting>
    <setting id="Store_Widget2_Target" type="string">videos</setting>
    <setting id="Store_Widget4_Target" type="string">videos</setting>
    <setting id="skinshortcuts-widget-10" type="string">Addon</setting>
    <setting id="skinshortcuts-widget-6" type="string">Addon</setting>
    <setting id="Widget.1107.Label" type="string"></setting>
    <setting id="global.background" type="string"></setting>
    <setting id="home.widgetposters" type="string">Always</setting>
    <setting id="Skin.ForcedView.artists" type="string"></setting>
    <setting id="SkinHelper.SpinnerTexture.org" type="string"></setting>
    <setting id="skinshortcuts-widget-4" type="string">Addon</setting>
    <setting id="Skin.ForcedView.tvshows" type="string"></setting>
    <setting id="Skin.ForcedView.musicvideos" type="string"></setting>
    <setting id="fanart.opacity" type="string"></setting>
    <setting id="home.mainheadertext" type="string">TV on your TERMS</setting>
    <setting id="skinshortcuts-widget-11" type="string">Addon</setting>
    <setting id="Store_Widget6_Target" type="string">videos</setting>
    <setting id="Store_Widget1_Content" type="string">plugin://plugin.video.newson/?url=http://www.wlky.com/syndicatedVideo-aolOn&amp;mode=4&amp;name=22+-+WLKY+-+Louisville</setting>
    <setting id="home.subheadertext" type="string"></setting>
    <setting id="Widget.1114.Label" type="string"></setting>
    <setting id="Widget.1119.Label" type="string"></setting>
    <setting id="skinshortcuts-widget-7" type="string">Addon</setting>
    <setting id="Widget.1103.Label" type="string"></setting>
    <setting id="SkinHelper.AutoCloseMusicOSD" type="string"></setting>
    <setting id="Skin.ForcedView.genres" type="string"></setting>
    <setting id="SkinHelper.SpinnerTexture" type="string">/</setting>
    <setting id="weather.icons.path" type="string"></setting>
    <setting id="Store_Widget7_Title" type="string">Science Friday - [B]Recent Videos[/B]</setting>
    <setting id="Store_Widget5_Content" type="string">plugin://plugin.video.fox.news/?url=http://video.foxnews.com/playlist/on-air-americas-news-hq&amp;name=Latest&amp;mode=get_videolist</setting>
    <setting id="SkinHelper.SpinnerTexture.label" type="string">Custom multi image (folder)</setting>
    <setting id="Skin.ForcedView.years" type="string"></setting>
    <setting id="Widget.1115.Label" type="string"></setting>
    <setting id="background.fallback" type="string">C:\Users\RTOpro Computer 1\AppData\Roaming\Kodi\media\old tv with RTROTV.jpg</setting>
    <setting id="Store_Widget4_Content" type="string">plugin://plugin.video.wsj/?url=https://www.wsj.com/video/subject/science-and-space&amp;mode=GS&amp;name=Science+and+Space&amp;fanart=C:\Users\Jamisons-PC\AppData\Roaming\Kodi\addons\plugin.video.wsj\fanart.jpg</setting>
    <setting id="Store_Widget6_Content" type="string">plugin://plugin.video.ted.talks/?mode=newTalksRss</setting>
    <setting id="Skin.ForcedView.unknown" type="string"></setting>
    <setting id="home.headertext" type="string">RTOTV</setting>
    <setting id="Widget.1106.Label" type="string"></setting>
    <setting id="HighlightColor.name" type="string">ff28a855</setting>
    <setting id="skinshortcuts-widget-2" type="string">Weather</setting>
    <setting id="Skin.ForcedView.images" type="string"></setting>
    <setting id="Store_Widget1_Title" type="string">NewsON - 22 - WLKY - Louisville</setting>
    <setting id="Store_Widget2_Title" type="string">Fox News - Latest Video</setting>
    <setting id="Skin.ForcedView.tags" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Day.time" type="string"></setting>
    <setting id="Store_Widget7_Target" type="string">videos</setting>
    <setting id="Store_Widget8_Content" type="string">plugin://plugin.video.fox.news/?url=http://video.foxnews.com/playlist/us-latest-us&amp;name=Latest+US&amp;mode=get_videolist</setting>
    <setting id="Skin.ForcedView.studios" type="string"></setting>
</settings>
